
@import "dashboard/navbar";
@import "dashboard/cards";
@import "dashboard/contextMenu";
@import "dashboard/botChart";

#Dashboard {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  position: relative;

  main {
    .container {
      padding: 100px 15px !important;
      z-index: 2;
      min-height: 100vh !important;
    }

    .main-title {
      margin: 50px 0;
      @include media('max', 'md') {
        margin: 0 0 30px !important;
      }
    }
  }

  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .69;
  }
}
#Dashboard:before {
  content: url(../public/img/bg/bg_smoke.png);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3
}
#Dashboard::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url(../public/img/light.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center -65px;
  animation: k-light 3s ease-in-out infinite;
}
