
.login-page {
  //margin: 0 !important;
  height: 100% !important;
  overflow: hidden !important;
  main {
    //position: fixed;
    padding: 0 !important;
    z-index: 1;

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 100px 15px !important;
    }
    .form-login-wrapper {
      width: 100%!important;
      max-width: 700px!important;
      margin: 30px 0 0!important;
    }
    .form-login {
      width: 100%;
      //max-width: 500px;
      //min-width: 400px;
    }
    .form-login label {
      display: none;
    }
    .form-login input {
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
      text-transform: uppercase;
      color: var(--color_white) !important;
      background: 0 0 !important;
      border: none;
      width: 100%;
      border-bottom: 1px solid rgba(255,255,255,.2);
      padding: 25px !important;
    }
    @media only screen and (max-width:768px) {
      .form-login input, .form-login button {
        font-size: 20px !important;
      }
    }
    .form-login input:focus {
      outline: none;
      background: rgba(0, 0, 0, 0.03);
    }
    .form-login input::placeholder {
      color: $light !important;
    }
    .form-login input:-webkit-autofill,
    .form-login input:-webkit-autofill:hover,
    .form-login input:-webkit-autofill:focus,
    .form-login input:-webkit-autofill:active{
      box-shadow: 0 0 0 50px #424c58 inset !important;
      -webkit-text-fill-color: white !important;
      border-radius: 30px;
    }
    .form-login button {
      background: linear-gradient(
                      104.04deg
              ,#0ed2e2 0,#146bae 100%);
      color: var(--color_white);
      display: block;
      box-sizing: border-box;
      text-transform: uppercase;
      width: 100%;
      height: 60px;
      margin: 10px auto ;
      transition: all 0.3s ease 0s;
      border: none;
      font-weight: 700;
      font-size: 30px;
      line-height: 37px;
    }
    .form-login button:focus,
    .form-login button:hover {
      outline: none;
      border: none;
      box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    }
  }
  video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: .69;
  }
}
