
$sizes: ("xs":320px, "sm":576px, "md":768px, "lg":992px, "xl":1200px);
@mixin media($minmax, $media) {
  @each $size, $resolution in $sizes {
    @if $media == $size {
      @media only screen and (#{$minmax}-width: $resolution) {
        @content;
      }
    }
  }
}

@keyframes k-light {
  0% {
    opacity: .1;
  }
  50% {
    opacity: .2;
  }
  100% {
    opacity: .1;
  }
}

/* Colors */
$white: #fff !default;
$yellow: #FDD835 !default;
$blue: #08cde0 !default;
$black: #080808 !default;
$accent: #cef950 !default;
$background-white-color: $white !default;
$background-light-color: #fbfcff !default;
$background-dark-color: #1d1e21 !default;
$background-black-color: #080808 !default;
$theme-color: $black !default;
$light: #cfd4d7 !default;
$darkLight: #2e2c2f !default;

/* Typoghraphy */
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif !default;

$font-color: $light !default;
$font-color-grey: #9c9c9c !default;
$font-color-adrk-grey: #575757 !default;

$font-size-base: 14px !default;
$font-size-small: 12px !default;
$font-paragraph: 14px !default;

$line-height-general: 1.2em !default;

$font-weight-normal: 500 !default;;
$font-weight-bold: 600 !default;
$font-weight-light: 300 !default;

$font-size-h1: 42px !default;
$font-size-h2: 36px !default;
$font-size-h3: 30px !default;
$font-size-h4: 24px !default;
$font-size-h5: 18px !default;
$font-size-h6: 14px !default;

/* Common */
$button-border-radius: 35px !important;

/* LOGIN */
// Common
$login-page-background-color: $accent;

//title
$login-page-title-font-size: 30px;
$login-page-title-font-weight: $font-weight-light;
$login-page-title-font-color: $black;

/* DASHBOARD */
// Common
$dashboard-navbar-height: 40px;
$dashboard-padding-top: $dashboard-navbar-height;

// Sidebar
$dashboard-sidebar-width: 330px;
$dashboard-sidebar-content-width: 65%;
$dashboard-sidebar-font-color: $black;
// wrapper
$dashboard-sidebar-wrapper-background-color: $background-white-color;
$dashboard-sidebar-wrapper-padding: $dashboard-padding-top 0 0;
// Sidebar Card
$bot-list-card-height: 70px;
$bot-list-card-padding: 15px;
$bot-list-card-icon-size: 40px;

// Content
$dashboard-content-width: calc(100% - #{$dashboard-sidebar-width});
$dashboard-content-background-color: #fff;

