
#bot-chart {
  z-index: 3;
  max-width: 900px;
  //margin: 0 auto;
  //float: right;
  .time {
    position: absolute;
    left: 30px;
    color: #ccc;
    font-size: 14px;
  }
  svg {
    background: none !important;
  }
  pre {
    background: none !important;
    color: rgb(78, 233, 66);
    position: fixed;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 300px;
    font-size: 9px;
    display: inline-block;
    padding: 60px 5px;
    font-family: 'Lucida Console';
    text-shadow: 0 0px 6px black;
  }
}
