
.dashboard-cards {
  display: flex;
  flex-flow: wrap;
  margin-bottom: 70px;
  @include media('max', 'md') {
    justify-content: space-between;
  }

  .dashboard-card {
    display: inline-grid;
    flex: 1 0 20%;
    max-width: 20%;
    padding: 25px;
    margin: 0 40px 30px 0;
    align-content: flex-start;
    @include media('max', 'md') {
      flex: 1 0 43% !important;
      max-width: 43% !important;
      padding: 20px !important;
    }
    @include media('max', 'lg') {
      margin: 0 20px 20px 0;
      display: inline-block;
      flex: 1 0 30%;
      max-width: 30%;
      ul {
        li {
          width: 100% !important;
        }
        p, .id {
          font-size: 14px !important;
        }
      }
    }

    ul {
      margin-bottom: 10px !important;

      p {
        font-style: italic;
        font-weight: 200;
        font-size: 24px;
      }
      .id {
        font-style: italic;
        font-weight: bold;
        font-size: 24px;
      }
    }

    .name {
      //color: #0ed2e2 !important;
      display: inline-block;
    }
    .balance {
      display: inline-block;
    }
  }

  .dashboard-card.online {
    .name {
      color: #ffffff;
    }

    .balance {
      color: $yellow;
    }
  }
}
