
$menu-bg: $background-light-color;
$menu-border: rgba(0, 0, 0, 0.15);
$item-color: var(--color_white);
$item-hover-bg: $light;
$item-hover-color: $light;

.v-context {
  .form {
    padding: 10px;

    .field {
      margin: 5px 0;
      font-style: italic;

      .button {
        width: 100%;
        font-style: normal;
        text-transform: uppercase;
      }
    }

    input {
      background: 0 0 !important;
      border: solid 1px #596C85 !important;
      color: $item-color !important;
    }
    input::placeholder {
      color: var(--color_light2) !important;
    }

    select {
      padding: 8px;
      background: none;
      border: none;
      color: white;
      font-size: 14px;
      font-style: italic;
      option {
        background-color: rgba(0,0,0,0.7);
      }
    }

    p {
      font-size: 11px;
      color: var(--color_light) !important;
      margin-bottom: 10px;
      padding: 2px 12px;
    }

    .id {
      color: $item-color;
      font-style: italic;
      font-size: 30px;
      line-height: 120%;
      text-transform: uppercase;
      margin: 10px 20px 15px 10px;
      font-weight: 200;
      span {
        font-weight: 800;
      }
    }
  }

  &, & ul {
    background: -o-linear-gradient(343.41deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
    background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
    -webkit-backdrop-filter: blur(28px);
    backdrop-filter: blur(28px);
    border-radius: 40px;
    //background-color: $menu-bg;
    background-clip: padding-box;
    //border-radius: 1.2rem;
    //border: 1px solid $menu-border;
    display: block;
    margin: 0;
    //padding: 10px 0;
    min-width: 10rem;
    z-index: 1500;
    position: fixed;
    list-style: none;
    box-sizing: border-box;
    max-height: calc(100% - 50px);
    overflow-y: auto;
    padding: 10px;

    hr {
      background: #596C85 !important;
      margin: 18px 0;
    }

    > li {
      margin: 0;
      position: relative;

      > a {
        display: block;
        padding: .3rem 1rem;
        //font-weight: bold;
        color: $item-color;
        text-decoration: none;
        white-space: nowrap;
        background-color: transparent;
        border: 0;

        &:hover,
        &:focus {
          text-decoration: none;
          color: var(--color_yellow);
          //background-color: $item-hover-bg;
        }

        &:focus {
          outline: 0;
        }
      }
    }

    &:focus {
      outline: 0;
    }
  }

  &__sub {
    > a:after {
      content: "\2bc8";
      float: right;
      padding-left: 1rem;
    }

    > ul {
      display: none;
    }
  }
}
