
#navbar {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: $dashboard-navbar-height;
  line-height: $dashboard-navbar-height;
  text-align: center;
  background: $accent;
  z-index: 99;
  box-shadow: 0 5px 15px #66666609;

  .balance, .balance a {
    color: $accent;
  }

  .header_box {
    text-transform: uppercase;
  }

  .navbar-profile {
    display: inline-block;
    position: fixed;
    right: 20px;
    height: $dashboard-navbar-height;
    line-height: $dashboard-navbar-height;

    p {
      display: inline-block;
      color: #b4b100;
      font-size: 14px;
    }
  }
}
