
<template>
    <div class="dashboard-card general-block general-block__1"
         :class="isOnlineClass"
         @click="handleClick"
         @dblclick="handleDoubleClick($event)"
         @contextmenu.prevent="handleRightClick($event)">
        <ul class="general-block__switch general-block__switch_type">
            <li @click="handleDoubleClick($event)">
                <img src="img/type2.svg" alt="ico">
                <p>bot <span class="id">{{bot.id}}</span></p>
            </li>
        </ul>
        <div class="name review_item_name">{{bot.name}}</div>
        <span class="balance" v-if="bot.balance">£{{bot.balance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}}</span>
    </div>
</template>

<script>
    import Bot from '../../models/Bot'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "botCard",
        props: {
            bot: Bot
        },
        data: () => ({
            // botStats: null
        }),
        async mounted() {
            // this.botStats = await this.bot.getStats()
        },
        watch: {
            // stats() {
            //     this.botStats = this.stats[this.bot.id]
            // }
        },
        computed: {
            ...mapGetters(['currentBot']),
            isSelectedClass() {
                return this.bot.id === this.currentBot.id ? 'active' : ''
            },
            isOnlineClass() {
                return this.bot.minutesSinceLastTrade >= 0 && this.bot.minutesSinceLastTrade < 15 ? 'online' : ''
            }
        },
        methods: {
            ...mapActions(['bindFirebaseCurrentBot', 'unbindFirebaseCurrentBot']),
            handleClick(e) {
                this.bind()
                this.$emit('click', e)
            },
            handleRightClick(e) {
                this.bind()
                this.$emit('rightClick', e)
            },
            handleDoubleClick(e) {
                this.$emit('doubleClick', e)
            },
            bind() {
                this.bindFirebaseCurrentBot(this.bot)
            }
        },
    }
</script>
