
<template>
    <div class="dashboard-card general-block general-block__1"

         @dblclick="handleDoubleClick($event)"
         @contextmenu.prevent="handleRightClick($event)">
        <ul class="general-block__switch general-block__switch_type">
            <li @click="handleDoubleClick($event)">
                <img src="img/type2.svg" alt="ico">
                <p>fltr <span class="id">{{filter.id}}</span></p>
            </li>
        </ul>
        <div class="name review_item_name">{{filter.name}}</div>
    </div>
</template>

<script>
    import Filter from '../../models/Filter'
    import { mapGetters, mapActions } from 'vuex'

    export default {
        name: "filterCard",
        props: {
            filter: Filter
        },
        async mounted() {
            // this.botStats = await this.bot.getStats()
        },
        watch: {
            // stats() {
            //     this.botStats = this.stats[this.bot.id]
            // }
        },
        computed: {
            // ...mapGetters(['currentFilter'])
        },
        methods: {
            ...mapActions(['bindFirebaseCurrentFilter', "unbindFirebaseCurrentFilter"]),
            handleClick(e) {
                this.bind()
                this.$emit('click', e)
            },
            handleRightClick(e) {
                this.bind()
                this.$emit('rightClick', e)
            },
            handleDoubleClick(e) {
                this.bind()
                this.$emit('doubleClick', e)
            },
            bind() {
                this.bindFirebaseCurrentFilter(this.filter)
            }
        },
    }
</script>
