@media only screen and (max-width:1600px) {
  .header_top {
    height: calc(50px + (125 - 50) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(100px + (270 - 100) * ((100vw - 320px)/ (1600 - 320)));
    flex: 0 1 calc(100px + (270 - 100) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_lang {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(50px + (160 - 50) * ((100vw - 320px)/ (1600 - 320)));
    flex: 0 1 calc(50px + (160 - 50) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_currency {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(20px + (110 - 20) * ((100vw - 320px)/ (1600 - 320)));
    flex: 0 1 calc(20px + (110 - 20) * ((100vw - 320px)/ (1600 - 320)))
  }
  .nav li a {
    padding: 0 calc(0px + (50 - 0) * ((100vw - 320px)/ (1600 - 320)))
  }
  .telegram_icon {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(0px + (150 - 0) * ((100vw - 320px)/ (1600 - 320)));
    flex: 0 1 calc(0px + (150 - 0) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_login {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 calc(40px + (190 - 40) * ((100vw - 320px)/ (1600 - 320)));
    flex: 0 1 calc(40px + (190 - 40) * ((100vw - 320px)/ (1600 - 320)))
  }
}
@media only screen and (max-width:1280px) {
  .wrapper:before {
    top: -100px
  }
  .header_link {
    font-size: 14px
  }
  .nav li a {
    font-size: 14px
  }
  .header_login {
    font-size: 14px
  }
  .main_content__left {
    width: 54%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 54%;
    flex: 0 1 54%;
    padding-right: 20px
  }
  .main_content__right {
    width: 45%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 45%;
    flex: 0 1 45%
  }
}
@media only screen and (max-width:1200px) {
  .header_top {
    height: 70px
  }
  .header_nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .nav li {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }
  .nav li a {
    padding: 0
  }
}
@media only screen and (max-width:1100px) {
  .section_block {
    padding-top: 35px;
    margin-bottom: 25px
  }
  .main_content__left {
    width: 51%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 51%;
    flex: 0 1 51%;
    padding-right: 20px
  }
  .main_content__right {
    width: 49%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 49%;
    flex: 0 1 49%
  }
  .tab_content_main .swiper {
    width: 80%;
    max-width: none;
    margin: 0 auto
  }
  .sl_comfortable_item,
  .sl_manually_item {
    padding-bottom: 80px;
    position: relative
  }
  .swiper-slide__title {
    font-size: 20px;
    margin-top: 0
  }
  .swiper-slide__numper {
    position: absolute;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%)
  }
  .tab_content_main .swiper-button-next,
  .tab_content_main .swiper-button-prev {
    top: auto;
    bottom: 10px
  }
  .tab_content_main .swiper-button-prev {
    left: 25%
  }
  .tab_content_main .swiper-button-next {
    right: 25%
  }
  .section_page .section_main_content.row-flex {
    display: block
  }
  .section_page .main_content__left {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    padding-right: 0
  }
  .section_page .main_content__right {
    margin: 0 auto
  }
}
@media only screen and (max-width:991px) {
  .header_logo .logo {
    font-size: 18px
  }
  .section_main {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px)/ (991 - 320)))
  }
  .section_main_content .row-flex {
    display: block
  }
  .main_content__left {
    width: 100%;
    max-width: 700px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 51%;
    flex: 0 1 51%;
    padding-right: 0;
    margin: 0 auto
  }
  .main_content__right {
    width: 100%
  }
  .shipping_block {
    margin-top: 20px
  }
  .shipping_block_video iframe {
    display: block;
    border-radius: 10px;
    width: 100%;
    max-width: 625px;
    height: 350px;
    margin: 0 auto
  }
  .section_main_content .benefits_block_wrapper .row-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .footer .container {
    width: 100%;
    max-width: 700px;
    padding: 0
  }
  .footer .row {
    display: block
  }
  .footer_logo {
    padding-top: 0;
    margin-bottom: 25px
  }
  .footer_questions {
    margin: 25px 0
  }
  .footer_bottom .row-flex {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .copyright {
    margin-right: 15%
  }
}
@media only screen and (max-width:860px) {
  .header_top {
    height: 64px;
    position: relative;
    z-index: 2
  }
  .header_wrapper {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start
  }
  .header_logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 144px;
    flex: 0 0 144px
  }
  .header_lang {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 130px;
    flex: 0 1 130px
  }
  .header_currency {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 70px;
    flex: 0 1 70px
  }
  .btn_mobile {
    display: block
  }
  .header_nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 30px 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    z-index: 9
  }
  .header_nav .nav {
    display: none
  }
  .header_nav._mobile .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
  }
  .nav li {
    border-right: 0
  }
  .header_nav._mobile {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 64px)
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-top: -100px;
    opacity: 0;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    transition: opacity .5s
  }
  .header_nav._mobile .nav {
    opacity: 1
  }
  .nav ul {
    display: block
  }
  .nav li {
    margin: 20px 0;
    text-align: center
  }
  .nav li a {
    color: #fff;
    font-size: 24px;
    font-weight: 500
  }
  .nav li a:focus {
    color: #fff
  }
  .header_login,
  .telegram_icon {
    display: none
  }
  .header_nav .box_mobile {
    display: none
  }
  .header_nav._mobile .box_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    height: 100px
  }
  .box_mobile .header_login,
  .box_mobile .telegram_icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%
  }
  .telegram_icon_wrapper {
    border-bottom: 5px solid #11a4cb;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 35%;
    flex: 0 1 35%;
    height: 100%;
    position: relative
  }
  .header_login_wrapper {
    border-bottom: 5px solid #acc342;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 65%;
    flex: 0 1 65%;
    height: 100%;
    position: relative
  }
  .telegram_icon_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(48.72%,rgba(17,164,203,0)),to(#11a4cb));
    background: -o-linear-gradient(top,rgba(17,164,203,0) 48.72%,#11a4cb 100%);
    background: linear-gradient(180deg,rgba(17,164,203,0) 48.72%,#11a4cb 100%);
    opacity: .2;
    z-index: -1
  }
  .header_login_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: -webkit-gradient(linear,left top,left bottom,color-stop(48.72%,rgba(172,195,66,0)),to(#acc342));
    background: -o-linear-gradient(top,rgba(172,195,66,0) 48.72%,#acc342 100%);
    background: linear-gradient(180deg,rgba(172,195,66,0) 48.72%,#acc342 100%);
    opacity: .1;
    z-index: -1
  }
  .box_mobile .header_login {
    background: 0 0;
    border: none
  }
  .modal__body {
    background: rgba(38,58,82,.8);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: none;
    height: 100%
  }
  .modal__body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .close__modal {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 28px;
    height: 28px
  }
  .modal__content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto
  }
  .tabs_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
  }
  .tabs_button button {
    font-size: 25px;
    margin: 0
  }
  .tabs_content__top {
    background: 0 0;
    border-radius: 0;
    padding: 55px 0 110px 0
  }
  .form__group-wrapper {
    display: block;
    margin-bottom: 10px
  }
  .form__group-wrapper .form__group {
    width: 100%
  }
  .form__group-wrapper .form__group:first-child {
    margin-bottom: 15px
  }
  .form__link {
    font-size: 12px
  }
  .social_autorization a {
    height: 50px
  }
  .btn_form__modal {
    background: -o-linear-gradient(307.65deg,#e2a82c -8.56%,#df9c21 112.21%);
    background: linear-gradient(142.35deg,#e2a82c -8.56%,#df9c21 112.21%);
    border-radius: 10px
  }
  .condition {
    width: 100%;
    max-width: 300px
  }
  .shipping-info_block__wrapper::before {
    content: url(../../../public/img/picture/moneta.png);
    position: absolute;
    top: 0;
    left: auto;
    right: 0
  }
}
@media only screen and (max-width:768px) {
  .shipping_block_video iframe {
    height: calc(200px + (350 - 200) * ((100vw - 320px)/ (768 - 320)))
  }
  .footer .container {
    padding: 0 35px;
    max-width: none
  }
}
@media only screen and (max-width:540px) {
  .header_logo .logo {
    font-size: 14px
  }
  .pages-forms {
    padding-top: 100px;
    padding-top: 100px
  }
  .section_block {
    padding-top: 25px
  }
  .block_title {
    font-size: 30px
  }
  .swiper-slide__title {
    text-align: left
  }
  .shipping_block_video {
    border-radius: 0;
    margin-top: 25px;
    margin-left: -35px;
    margin-right: -35px
  }
  .shipping_block_video iframe {
    border-radius: 0
  }
  .section_main_content .benefits_block_wrapper .row-flex {
    display: block;
    margin: 0
  }
  .benefits_block_item {
    padding-left: 55px;
    margin-bottom: 25px;
    width: 100%
  }
  .benefits_block_item-title {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 10px
  }
  .benefits_block_item-title::before {
    top: -20px;
    left: -75px
  }
  .shipping-info_block {
    margin-left: -35px;
    margin-right: -35px
  }
  .shipping-info_block__wrapper {
    border-radius: 0;
    padding: 50px 40px
  }
  .shipping-info_block__wrapper .block_title strong {
    display: block
  }
  .shipping-info_block__wrapper::before {
    top: 20px;
    right: 20px
  }
  .btn_accordion {
    line-height: 140%
  }
  .copyright {
    margin-right: 25%
  }
}
@media only screen and (max-width:460px) {
  .header_lang {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }
  .header_link {
    font-size: 12px
  }
  .lang_link span {
    width: 18px;
    height: 13px;
    margin-right: 5px
  }
  .triangle_after {
    padding-right: 0
  }
  .triangle_after::after {
    content: none
  }
  .header_currency {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
  }
  .btn_mobile {
    position: relative;
    top: auto;
    right: auto
  }
  .tab_content_main .swiper {
    width: 100%;
    max-width: none;
    margin: 0 auto
  }
  .reviews_item {
    border-radius: 20px;
    padding: 20px 20px 40px 20px
  }
  .review_item_rating {
    position: absolute;
    bottom: 20px;
    left: 20px
  }
  .review_date {
    position: absolute;
    bottom: 20px;
    right: 20px
  }
  .block_title {
    font-size: 30px;
    margin-bottom: 30px
  }
}
@media only screen and (max-width:430px) {
  .container {
    max-width: 330px;
    padding: 0 15px
  }
  .reviews_item_bottom p,
  .reviews_item_top p {
    font-size: 12px
  }
  .shipping-info_block {
    margin-left: -40px;
    margin-right: -40px
  }
  .shipping_block .block_title br {
    display: block
  }
  .review_date {
    font-size: 10px
  }
  .footer {
    font-weight: 400;
    font-size: 12px
  }
  .footer_questions {
    line-height: 180%
  }
  .footer_questions li {
    margin-bottom: 5px
  }
  .footer_questions a {
    text-decoration: underline
  }
}
@media only screen and (max-width:375px) {
  .header_logo {
    -webkit-box-flex: 0;
    -ms-flex: 0 1 110px;
    flex: 0 1 110px
  }
  .shipping_block_video iframe {
    height: 210px
  }
  .copyright {
    margin-right: 0
  }
  .terms {
    position: absolute;
    bottom: 0;
    right: 10%
  }
}
@media screen and (max-width:992px) {
  .general-block__sides {
    display: block
  }
  .page-blocks__sides {
    display: block
  }
  .general-block {
    max-width: 100%
  }
  .page-blocks h2 {
    font-size: 30px;
    line-height: 120%
  }
  .page-blocks h1 {
    font-size: 70px;
    line-height: 120%
  }
  .general-block__switch_pr {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .general-block__switch_pr li {
    width: calc(100% / 3 - 14px);
    margin: 7px
  }
  .general-block__switch_pr li:nth-child(1),
  .general-block__switch_pr li:nth-child(2),
  .general-block__switch_pr li:nth-child(3),
  .general-block__switch_pr li:nth-child(4) {
    width: calc(100% / 4 - 14px)
  }
  .general-block .how-works {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 15px
  }
  .general-block .how-works img {
    display: none
  }
  .general-block__block1 {
    display: block
  }
  .page-blocks__lft {
    margin-right: 0
  }
}
@media screen and (max-width:768px) {
  .general-block__radios_1 label {
    width: calc(50% - 20px)
  }
  .general-block__switch_type {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
  }
  .general-block__switch_type li {
    width: calc(50% - 10px);
    margin-bottom: 10px
  }
  .general-block__switch_type li:nth-child(2) {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%
  }
}
@media screen and (max-width:576px) {
  .pages-forms {
    padding-top: 100px;
    padding-bottom: 100px
  }
  .form-trs__thx .form__bottom {
    display: block
  }
  .general-block {
    margin-left: -15px;
    margin-right: -15px;
    width: calc(100% + 30px);
    max-width: 200%;
    margin-top: 23px;
    margin-bottom: 20px
  }
  .form-trs {
    padding: 40px 37px 36px;
    margin-left: -15px;
    margin-right: -15px
  }
  .form-trs__thx .bottom__item_tg {
    margin-bottom: 36px
  }
  .form-trs__thx .form__bottom p {
    text-align: center
  }
  .container {
    max-width: 100%!important
  }
}
