@charset "UTF-8";
body:root {
  --color_white: #fff;
  --color_yellow: #ECB72A;
  --color_yellow_gradient: linear-gradient(142.35deg, #FDD835 -8.56%, #F9A825 112.21%);
  --color_red_hover: #800c12;
  --color_light: rgba(255, 255, 255, 0.6);
  --color_light1: rgba(255, 255, 255, 0.1);
  --color_light2: #7E8CA0;
  --color_light3: #596C85;
  --white-clr: #fff;
  --clr-2f: #2F495C;
  --clr-24: #18293d
}
body.white:root {
  --color_white: #496A8C;
  --color_yellow: #ECB72A;
  --color_yellow_gradient: linear-gradient(142.35deg, #FDD835 -8.56%, #F9A825 112.21%);
  --color_red_hover: #800c12;
  --color_light: rgba(255, 255, 255, 0.6);
  --color_light1: rgba(255, 255, 255, 0.1);
  --color_light2: #7E8CA0;
  --color_light3: #596C85;
  --white-clr: #fff;
  --clr-24: rgba(255, 255, 255, 0.2)
}
*,
::after,
::before,
html {
  box-sizing: border-box
}
body,
html {
  font-size: 14px;
  line-height: 1.4;
  color: var(--white-clr);
  font-family: Montserrat,sans-serif;
  background: var(--clr-2F);
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%
}
body.bodyLock {
  overflow: hidden
}
:active,
:focus,
:hover,
:visited {
  outline: 0;
  outline-offset: 0
}
a {
  text-decoration: none;
  outline: 0
}
ul {
  margin: 0;
  padding: 0
}
ul li {
  list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
strong {
  color: var(--white-clr);
  font-weight: 700
}
.container {
  /*max-width: 1360px;*/
  max-width: 100%;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  margin: 0 auto;
  position: relative;
  align-items: self-start !important;
  justify-content: flex-start !important;
  text-align: left !important;
}
section {
  position: relative
}
.section {
  position: relative
}
.row-flex {
  display: flex
}
.header_top {
  background: var(--clr-24);
  height: 50px !important;
  z-index: 1
}
.header_top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #27405f;
  opacity: 0;
  visibility: hidden;
  transition: all .3s
}
.header_top._mobile:before {
  opacity: 1;
  visibility: visible
}
.header_wrapper {
  display: flex;
  justify-content: space-between;
  height: 100%
}
.header_logo {
  background: linear-gradient(104.04deg,#0ed2e2 0,#146bae 100%);
  flex: 0 1 290px;
  height: 100%;
  position: relative
}
.header_logo:hover {
  background: linear-gradient(104.04deg,#0babb9 0,#197dca 100%)
}
.header_logo .logo {
  color: var(--white-clr);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-style: italic;
  font-weight: 800;
  width: 100%;
  height: 100%
}
.header_box {
  border-right: 1px solid #294c79;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
  position: relative
}
.header_lang {
  flex: 0 1 168px
}
.header_box:hover {
  background: #214970
}
.header_link {
  display: flex;
  align-items: center;
  color: var(--white-clr);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  position: relative
}
.triangle_after {
  padding-right: 13px
}
.triangle_after::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: var(--white-clr) transparent transparent transparent
}
.lang_link span {
  display: block;
  width: 28px;
  height: 20px;
  margin-right: 10px
}
.lang_link span img {
  display: block;
  width: 100%
}
.header_currency {
  flex: 0 1 117px
}
.header_currency_dropdown,
.header_lang_dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: #214970;
  border-bottom: 3px solid #11a4cb;
  padding: 25px 0;
  z-index: 2;
  transition: all .3s
}
.header_box ul a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0
}
.header_box ul a {
  display: flex;
  align-items: center;
  color: var(--white-clr) !important;
  font-weight: 600;
  font-size: 16px;
  /*line-height: 19px*/
}
.header_box ul a:hover {
  text-decoration: underline
}
.header_box ul a span {
  display: block;
  width: 28px;
  height: 20px;
  margin-right: 10px
}
.header_currency_dropdown {
  opacity: 0;
  visibility: hidden
}
.header_box ul.header_currency_dropdown li a {
  display: inline-block
}
.header_nav {
  display: flex;
  justify-content: flex-start;
  flex: 1 1 auto;
  transition: all .3s
}
.nav {
  width: 100%
}
.nav ul {
  display: flex;
  justify-content: flex-start;
  height: 100%
}
.nav li {
  border-right: 1px solid #294c79
}
.nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255,255,255,.6);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0 52px;
  transition: all .3s;
  text-transform: uppercase
}
.nav li:hover {
  background: #214970
}
.nav.min li a {
  font-size: 16px
}
.telegram_icon {
  flex: 0 1 165px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../../../public/img/ico/telegram.svg) no-repeat center/25px;
  width: 100%;
  height: 100%
}
.header_login {
  flex: 0 1 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--white-clr);
  background: var(--clr-2F);
  border: none;
  border-bottom: 3px solid #acc342;
  text-transform: uppercase;
  cursor: pointer
}
@media (any-hover:hover) {
  .header_box:hover .header_currency_dropdown,
  .header_box:hover .header_lang_dropdown {
    opacity: 1;
    visibility: visible
  }
  .telegram_icon:hover {
    background: #214970 url(../../../public/img/ico/telegram.svg) no-repeat center/25px
  }
}
.box_mobile {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.btn_mobile {
  outline: 0;
  display: none;
  border: none;
  background: #204c72;
  flex: 0 0 64px;
  height: 100%;
  width: 64px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden
}
.btn_mobile span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: var(--white-clr);
  border-radius: 2px;
  width: 28px;
  height: 3px;
  transition: all .2s
}
.btn_mobile span:after,
.btn_mobile span:before {
  content: '';
  position: absolute;
  left: 0;
  background: var(--white-clr);
  border-radius: 2px;
  width: 100%;
  height: 3px;
  transition: all .2s
}
.btn_mobile span:before {
  top: -9.5px
}
.btn_mobile span:after {
  top: 9.5px
}
.header_nav._mobile ~ .btn_mobile span {
  background: 0 0
}
.header_nav._mobile ~ .btn_mobile span:before {
  top: 0;
  transform: rotate(-45deg)
}
.header_nav._mobile ~ .btn_mobile span:after {
  top: 0;
  transform: rotate(45deg)
}
.main {
  background: url(../../../public/img/bg/bg.png) no-repeat top center/cover;
  flex: 1 1 auto
}
.section_main {
  padding: 100px 0 50px 0
}
.section_main:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1300px
}
.section_main_content {
  justify-content: space-between
}
.main_content__left {
  width: 48%;
  flex: 0 1 625px
}
.section_block {
  padding-top: 50px;
  margin-bottom: 40px
}
.section_block:first-child {
  padding-top: 0
}
.tabs_btn_main {
  display: flex;
  justify-content: space-between;
  background: var(--color_light1);
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden
}
.tabs_btn_main button {
  color: var(--white-clr);
  font-size: 12px;
  line-height: 15px;
  background: 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  width: 50%;
  height: 50px;
  transition: .3s;
  text-transform: uppercase
}
.tabs_btn_main button:hover {
  background-color: var(--color_yellow)
}
.tabs_btn_main button.active {
  background-color: var(--color_yellow)
}
.tab_content_main {
  display: none
}
.slider_comfortable,
.slider_manually {
  width: 100%;
  position: relative
}
.tab_content_main .swiper {
  width: 100%;
  max-width: 470px;
  margin: 0 auto
}
.swiper-slide__numper {
  color: var(--white-clr);
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  opacity: .1;
  text-align: center
}
.swiper-slide__title {
  color: var(--white-clr);
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 20px 0
}
.tab_content_main .swiper-slide p {
  color: var(--color_light);
  font-weight: 400;
  font-size: 14px;
  margin: 0
}
.tab_content_main .swiper-button-next,
.tab_content_main .swiper-button-prev {
  top: 65%
}
.tab_content_main .swiper-button-next:after,
.tab_content_main .swiper-button-prev:after {
  content: none
}
.tab_content_main .swiper-button-prev svg {
  width: 40px;
  height: 40px
}
.tab_content_main .swiper-button-next svg {
  width: 40px;
  height: 40px;
  transform: rotate(180deg)
}
.tab_content_main .swiper-comfortable-button-next:hover svg path,
.tab_content_main .swiper-comfortable-button-prev:hover svg path,
.tab_content_main .swiper-manually-button-next:hover svg path,
.tab_content_main .swiper-manually-button-prev:hover svg path {
  fill: var(--color_yellow);
  fill-opacity: 1
}
.shipping_block .block_title br {
  display: none
}
.shipping_block_video {
  margin-top: 45px;
  border-radius: 10px
}
.shipping_block_video iframe {
  border-radius: 10px;
  width: 100%;
  max-width: 625px;
  height: 350px
}
.block_title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 45px;
  text-transform: uppercase
}
.block_title span {
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase
}
.benefits_block_wrapper .row-flex {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px
}
.benefits_block_wrapper .row-flex:last-child {
  margin-bottom: 0
}
.benefits_block_item {
  width: 47%
}
.benefits_block_item-title {
  color: var(--white-clr);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative
}
.benefits_block_item-title:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -22px;
  width: 70px;
  height: 70px
}
.benefits_block_item:nth-child(1) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_1.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(2) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_2.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(3) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_3.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(4) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_4.svg) no-repeat top left/auto
}
.benefits_block_item p {
  color: var(--color_light);
  margin: 0 auto
}
.shipping-info_block__wrapper {
  color: var(--color_light);
  font-weight: 400;
  font-size: 14px;
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  border-radius: 40px;
  padding: 35px 40px;
  position: relative
}
.shipping-info_block__wrapper:before {
  content: url(../../../public/img/picture/moneta.png);
  position: absolute;
  top: 50px;
  left: -80px
}
.shipping-info_block__wrapper .block_title {
  margin-bottom: 25px
}
.shipping-info_block__wrapper p {
  margin: 0
}
.shipping-info_block__wrapper ul {
  margin: 20px 0
}
.shipping-info_block__wrapper li {
  padding-left: 25px;
  margin-bottom: 15px;
  position: relative
}
.shipping-info_block__wrapper li:last-child {
  margin-bottom: 0
}
.shipping-info_block__wrapper li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #b6bdcb
}
.faq_block .block_title {
  margin-bottom: 0
}
.btn_accordion {
  color: #8d9bac;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(126,144,161,.5);
  padding: 15px 10px 15px 0;
  margin-top: 15px;
  width: 100%;
  text-align: left;
  outline: 0;
  cursor: pointer;
  transition: .3s;
  text-transform: uppercase;
  position: relative
}
.btn_accordion:after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: var(--white-clr) transparent transparent transparent;
  opacity: .3
}
.btn_accordion:hover {
  color: var(--white-clr)
}
.accordion_active {
  color: var(--white-clr);
  border-bottom: 1px solid transparent
}
.btn_accordion.accordion_active:after {
  opacity: 1;
  transform: translateY(-50%) rotate(180deg)
}
.faq_content {
  max-height: 0;
  overflow: hidden;
  transition: max-height .2s ease-out
}
.faq_content_wrapper {
  padding: 0 0 15px 0
}
.btn_accordion.accordion_active ~ .faq_content .faq_content_wrapper {
  border-bottom: 1px solid rgba(126,144,161,.5);
  padding-bottom: 15px
}
.faq_title {
  color: var(--white-clr);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 15px
}
.faq_content_wrapper ul {
  margin-bottom: 20px
}
.faq_content_wrapper ul:last-child {
  margin-bottom: 0
}
.faq_content_wrapper li {
  color: var(--color_light);
  padding: 5px 5px 5px 35px;
  margin-bottom: 5px;
  position: relative
}
.faq_content_wrapper li span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #315070;
  font-size: 16px;
  line-height: 1;
  background: #788ca3;
  border-radius: 50%;
  padding-left: 2px
}
.faq_content_wrapper p {
  margin: 0
}
.politika_block .block_title {
  word-wrap: break-word
}
@media only screen and (max-width:498px) {
  .politika_block .block_title .break_word {
    display: block;
    position: relative
  }
  .politika_block .block_title .break_word:after {
    content: '';
    position: absolute;
    top: 18px;
    right: -12px;
    width: 15px;
    height: 4px;
    background: var(--white-clr)
  }
}
.politika_block .title_politika {
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--white-clr);
  margin-bottom: 20px
}
.politika_block p {
  line-height: 140%;
  color: var(--color_light);
  margin: 0
}
.politika_block ol {
  color: var(--color_light);
  list-style-position: outside;
  padding: 0 0 0 15px;
  margin: 20px 0 35px 0
}
.politika_block li {
  margin-bottom: 15px
}
.politika_block a {
  color: var(--white-clr)
}
.main_content__right {
  width: 40%;
  flex: 0 1 515px
}
.trustpilot {
  text-align: center
}
.trustpilot img {
  width: 100%;
  max-width: 146px
}
.trustpilot p {
  margin: 10px 0 25px 0;
  text-align: center
}
.slider_rewievs {
  width: 100%;
  min-width: 0;
  box-sizing: border-box;
  position: relative
}
.slider_reviews_container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  position: relative
}
.reviews_item {
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  backdrop-filter: blur(28px);
  border-radius: 40px;
  padding: 45px 45px 40px 45px
}
.reviews_item_top {
  margin-bottom: 30px;
  position: relative
}
.review_item_box {
  display: flex;
  justify-content: space-between;
  align-items: center
}
.review_item_name {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase
}
.review_item_name span {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 20px
}
.review_item_name span img {
  width: 100%
}
.review_item_rating {
  width: 81px;
  height: 15px
}
.review_item_rating img {
  width: 100%
}
.reviews_item_bottom p,
.reviews_item_top p {
  color: var(--color_light);
  font-size: 14px
}
.review_date {
  color: var(--color_light2);
  font-weight: 500
}
.swiper-pagination_reviews.swiper-pagination-bullets {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 0!important
}
.swiper-pagination_reviews.swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--color_light3);
  width: 10px;
  height: 10px;
  margin: 0 6px;
  opacity: 1;
  transition: all .2s
}
.swiper-pagination_reviews.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: var(--white-clr)
}
.powered {
  color: var(--color_light);
  margin-top: 30px;
  text-align: center
}
.powered p {
  margin: 5px 0 0 0
}
.powered p a {
  color: var(--color_light);
  font-weight: 500
}
.footer {
  color: var(--color_light);
  font-weight: 500;
  background: #122d48;
  padding: 50px 0;
  position: relative;
  z-index: 1
}
.footer .container {
  width: 100%;
  max-width: 1820px;
  padding: 0 20px
}
.footer .row {
  display: flex;
  justify-content: space-between
}
.footer_logo {
  flex: 0 1 20%;
  padding-top: 8px
}
.footer_logo .logo {
  display: block;
  width: 100%;
  max-width: 152px
}
.footer_logo .logo img {
  display: block;
  width: 100%
}
.footer_contacts {
  flex: 0 1 37%;
  line-height: 200%
}
.footer_questions {
  flex: 1 1 auto;
  line-height: 200%;
  position: relative;
  z-index: 1
}
.footer_questions a {
  color: var(--color_light);
  display: inline-block
}
.footer_questions a:hover {
  color: var(--white-clr);
  text-decoration: underline
}
.footer_bottom {
  position: relative;
  z-index: 0
}
.footer_bottom .row-flex {
  justify-content: space-between
}
.copyright {
  display: inline-block
}
.terms {
  color: var(--color_light);
  text-decoration: underline
}
.terms {
  color: var(--color_light);
  text-decoration: underline
}
.terms:hover {
  color: var(--white-clr);
  text-decoration: none
}
.modal_window {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(28,48,75,.98)
}
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  max-width: 625px;
  width: 100%;
  height: auto;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: .4s;
  animation-name: animatetop;
  animation-duration: .4s
}
@-webkit-keyframes animatetop {
  from {
    top: 50%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
@keyframes animatetop {
  from {
    top: -50%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
.close__modal {
  position: absolute;
  top: 37px;
  right: 35px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1
}
.close__modal:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #475d79;
  border-radius: 10px;
  transform: rotate(45deg);
  transition: all .2s
}
.close__modal:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #475d79;
  border-radius: 10px;
  transform: rotate(-45deg);
  transition: all .2s
}
.close__modal:hover:after,
.close__modal:hover:before {
  background: var(--white-clr)
}
.modal__content {
  overflow: hidden
}
.tabs_wrapper {
  position: relative
}
.tabs_button {
  position: absolute;
  top: 25px;
  left: 40px;
  overflow: hidden;
  z-index: 1
}
.tabs_button button {
  color: var(--color_light3);
  font-weight: 800;
  font-size: 35px;
  line-height: 140%;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
  margin-right: 38px;
  transition: .3s;
  text-transform: uppercase
}
.tabs_button button:hover {
  color: var(--white-clr)
}
.tabs_button button.active {
  color: var(--white-clr)
}
.tab_content__modal {
  display: none
}
.tabs_content__top {
  background: rgba(38,58,82,.8);
  border-radius: 40px;
  padding: 100px 40px 95px 40px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative
}
.tabs_content__bottom {
  color: var(--color_light2);
  text-align: center
}
.tabs_content__bottom button {
  color: var(--white-clr);
  border: none;
  background: 0 0;
  text-decoration: underline;
  cursor: pointer
}
.condition {
  color: var(--color_light3);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  max-width: 420px;
  margin: 15px auto 0;
  text-align: center
}
.condition a {
  color: var(--color_light3);
  text-decoration: underline
}
.form__group-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px
}
.form__group-wrapper .form__group {
  width: 49%;
  position: relative
}
.form__input {
  color: var(--white-clr);
  font-weight: 500;
  font-size: 14px;
  background: rgba(255,255,255,.15);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 50px;
  padding: 5px 5px 5px 20px
}
.form__input::placeholder {
  color: rgba(255,255,255,.3)
}
.form__group-wrapper .form__group:nth-child(2) span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
  background: url(../../../public/img/ico/eye.svg) no-repeat center/13px;
  width: 20px;
  height: 20px;
  cursor: pointer
}
.form__link {
  color: var(--color_light2);
  display: flex;
  align-items: center;
  height: 100%;
  min-height: 26px
}
.form__link a {
  color: var(--color_light2);
  text-decoration: underline
}
.checkbox__input {
  display: none
}
.checkbox__input:checked + .checkbox__label:after {
  transform: scale(1)
}
.checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  height: 100%;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.checkbox__label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,.15);
  border-radius: 50%;
  cursor: pointer
}
.checkbox__label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: #ecb72a;
  border-radius: 50%;
  cursor: pointer;
  transform: scale(0);
  transition: transform .1s ease 0s
}
.btn_form__modal {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  background: var(--color_yellow);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 100%;
  height: 72px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1
}
.forgot_password-hidden,
.tabs_content__top-visible._top-hidden {
  display: none
}
.tabs_content__top-visible._top-hidden ~ .forgot_password-hidden {
  display: block
}
.forgot_password--title {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase
}
.forgot_password-hidden p {
  color: var(--color_light2);
  font-weight: 400;
  font-size: 14px;
  margin: 15px 0 30px 0
}
.forgot_password-hidden p span {
  color: var(--white-clr);
  font-weight: 600
}
.social_autorization {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,.2);
  position: relative;
  padding-top: 65px;
  margin-top: 35px
}
.social_autorization span.social_autorization__title {
  position: absolute;
  top: 30px;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--color_light2);
  display: inline-block
}
.social_autorization a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--white-clr);
  font-size: 12px;
  line-height: 1.1;
  background: rgba(255,255,255,.1);
  border-radius: 10px;
  width: 49%;
  height: 66px;
  text-transform: uppercase
}
.social_autorization__google span {
  display: block;
  background: url(../../../public/img/ico/icon_google.svg) no-repeat left center/26px;
  padding: 10px 0 10px 45px
}
.social_autorization__facebook span {
  display: block;
  background: url(../../../public/img/ico/icon_facebook.svg) no-repeat left center/13px;
  padding: 10px 0 10px 30px
}
.btn__top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color_red);
  /*background: url(../../../public/img/ico/arr_top.svg) no-repeat center/23.36px;*/
  border-radius: 50%;
  z-index: 8;
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  transition: .2s;
  transform: translateY(25px)
}
.btn__top img {
  width: 22px
}
.btn__top--active {
  visibility: visible;
  opacity: 1;
  transform: translateY(0)
}
@media only screen and (max-width:1600px) {
  .header_top {
    height: calc(50px + (125 - 50) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_logo {
    flex: 0 1 calc(100px + (270 - 100) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_lang {
    flex: 0 1 calc(50px + (160 - 50) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_currency {
    flex: 0 1 calc(20px + (110 - 20) * ((100vw - 320px)/ (1600 - 320)))
  }
  .nav li a {
    padding: 0 calc(0px + (30 - 0) * ((100vw - 320px)/ (1600 - 320)))
  }
  .telegram_icon {
    flex: 0 1 calc(0px + (150 - 0) * ((100vw - 320px)/ (1600 - 320)))
  }
  .header_login {
    flex: 0 1 calc(40px + (190 - 40) * ((100vw - 320px)/ (1600 - 320)))
  }
}
@media only screen and (max-width:1280px) {
  .wrapper:before {
    top: -100px
  }
  .header_link {
    font-size: 14px
  }
  .nav li a {
    font-size: 14px
  }
  .header_login {
    font-size: 14px
  }
  .main_content__left {
    width: 54%;
    flex: 0 1 54%;
    padding-right: 20px
  }
  .main_content__right {
    width: 45%;
    flex: 0 1 45%
  }
}
@media only screen and (max-width:1200px) {
  .header_top {
    height: 70px
  }
  .header_nav {
    justify-content: space-between
  }
  .nav li {
    flex: 1 1 auto
  }
  .nav li a {
    padding: 0
  }
}
@media only screen and (max-width:1100px) {
  .section_block {
    padding-top: 35px;
    margin-bottom: 25px
  }
  .main_content__left {
    width: 51%;
    flex: 0 1 51%;
    padding-right: 20px
  }
  .main_content__right {
    width: 49%;
    flex: 0 1 49%
  }
  .tab_content_main .swiper {
    width: 80%;
    max-width: none;
    margin: 0 auto
  }
  .sl_comfortable_item,
  .sl_manually_item {
    padding-bottom: 80px;
    position: relative
  }
  .swiper-slide__title {
    font-size: 20px;
    margin-top: 0
  }
  .swiper-slide__numper {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%)
  }
  .tab_content_main .swiper-button-next,
  .tab_content_main .swiper-button-prev {
    top: auto;
    bottom: 10px
  }
  .tab_content_main .swiper-button-prev {
    left: 25%
  }
  .tab_content_main .swiper-button-next {
    right: 25%
  }
  .section_page .section_main_content.row-flex {
    display: block
  }
  .section_page .main_content__left {
    width: 100%;
    flex: 0 1 100%;
    padding-right: 0
  }
  .section_page .main_content__right {
    margin: 0 auto
  }
}
@media only screen and (max-width:991px) {
  .header_logo .logo {
    font-size: 18px
  }
  .section_main {
    padding-top: calc(40px + (100 - 40) * ((100vw - 320px)/ (991 - 320)))
  }
  .section_main_content .row-flex {
    display: block
  }
  .main_content__left {
    width: 100%;
    max-width: 700px;
    flex: 0 1 51%;
    padding-right: 0;
    margin: 0 auto
  }
  .main_content__right {
    width: 100%
  }
  .shipping_block {
    margin-top: 20px
  }
  .shipping_block_video iframe {
    display: block;
    border-radius: 10px;
    width: 100%;
    max-width: 625px;
    height: 350px;
    margin: 0 auto
  }
  .section_main_content .benefits_block_wrapper .row-flex {
    display: flex
  }
  .footer .container {
    width: 100%;
    max-width: 700px;
    padding: 0
  }
  .footer .row {
    display: block
  }
  .footer_logo {
    padding-top: 0;
    margin-bottom: 25px
  }
  .footer_questions {
    margin: 25px 0
  }
  .footer_bottom .row-flex {
    justify-content: flex-start
  }
  .copyright {
    margin-right: 15%
  }
}
@media only screen and (max-width:860px) {
  .header_top {
    height: 64px;
    position: relative;
    z-index: 2
  }
  .header_wrapper {
    justify-content: flex-start
  }
  .header_logo {
    flex: 0 0 144px
  }
  .header_lang {
    flex: 0 1 130px
  }
  .header_currency {
    flex: 0 1 70px
  }
  .btn_mobile {
    display: block
  }
  .header_nav {
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
    height: 0;
    padding: 30px 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s;
    z-index: 9
  }
  .header_nav .nav {
    display: none
  }
  .header_nav._mobile .nav {
    display: flex
  }
  .nav li {
    border-right: 0
  }
  .header_nav._mobile {
    opacity: 1;
    visibility: visible;
    height: calc(100vh - 64px)
  }
  .nav {
    display: flex;
    justify-content: center;
    flex: 0 0 auto;
    margin-top: -100px;
    opacity: 0;
    transition: opacity .5s
  }
  .header_nav._mobile .nav {
    opacity: 1
  }
  .nav ul {
    display: block
  }
  .nav li {
    margin: 20px 0;
    text-align: center
  }
  .nav li a {
    color: #fff;
    font-size: 24px;
    font-weight: 500
  }
  .nav li a:focus {
    color: #fff
  }
  .header_login,
  .telegram_icon {
    display: none
  }
  .header_nav .box_mobile {
    display: none
  }
  .header_nav._mobile .box_mobile {
    display: flex;
    justify-content: space-between;
    height: 100px
  }
  .box_mobile .header_login,
  .box_mobile .telegram_icon {
    display: flex;
    width: 100%;
    height: 100%
  }
  .telegram_icon_wrapper {
    border-bottom: 5px solid #11a4cb;
    flex: 0 1 35%;
    height: 100%;
    position: relative
  }
  .header_login_wrapper {
    border-bottom: 5px solid #acc342;
    flex: 0 1 65%;
    height: 100%;
    position: relative
  }
  .telegram_icon_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(180deg,rgba(17,164,203,0) 48.72%,#11a4cb 100%);
    opacity: .2;
    z-index: -1
  }
  .header_login_wrapper:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300%;
    background: linear-gradient(180deg,rgba(172,195,66,0) 48.72%,#acc342 100%);
    opacity: .1;
    z-index: -1
  }
  .box_mobile .header_login {
    background: 0 0;
    border: none
  }
  .modal__body {
    background: rgba(38,58,82,.8);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: none;
    height: 100%
  }
  .modal__body:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
  }
  .close__modal {
    position: absolute;
    top: 20px;
    right: 18px;
    width: 28px;
    height: 28px
  }
  .modal__content {
    width: 100%;
    max-width: 300px;
    margin: 0 auto
  }
  .tabs_button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between
  }
  .tabs_button button {
    font-size: 25px;
    margin: 0
  }
  .tabs_content__top {
    background: 0 0;
    border-radius: 0;
    padding: 55px 0 110px 0
  }
  .form__group-wrapper {
    display: block;
    margin-bottom: 10px
  }
  .form__group-wrapper .form__group {
    width: 100%
  }
  .form__group-wrapper .form__group:first-child {
    margin-bottom: 15px
  }
  .form__link {
    font-size: 12px
  }
  .social_autorization a {
    height: 50px
  }
  .btn_form__modal {
    background: linear-gradient(142.35deg,#e2a82c -8.56%,#df9c21 112.21%);
    border-radius: 10px
  }
  .condition {
    width: 100%;
    max-width: 300px
  }
  .shipping-info_block__wrapper::before {
    content: url(../../../public/img/picture/moneta.png);
    position: absolute;
    top: 0;
    left: auto;
    right: 0
  }
}
@media only screen and (max-width:768px) {
  .shipping_block_video iframe {
    height: calc(200px + (350 - 200) * ((100vw - 320px)/ (768 - 320)))
  }
  .footer .container {
    padding: 0 35px;
    max-width: none
  }
}
@media only screen and (max-width:540px) {
  .header_logo .logo {
    font-size: 14px
  }
  .pages-forms {
    padding-top: 100px;
    padding-top: 100px
  }
  .section_block {
    padding-top: 25px
  }
  .block_title {
    font-size: 30px
  }
  .swiper-slide__title {
    text-align: left
  }
  .shipping_block_video {
    border-radius: 0;
    margin-top: 25px;
    margin-left: -35px;
    margin-right: -35px
  }
  .shipping_block_video iframe {
    border-radius: 0
  }
  .section_main_content .benefits_block_wrapper .row-flex {
    display: block;
    margin: 0
  }
  .benefits_block_item {
    padding-left: 55px;
    margin-bottom: 25px;
    width: 100%
  }
  .benefits_block_item-title {
    font-size: 20px;
    padding-top: 0;
    margin-bottom: 10px
  }
  .benefits_block_item-title::before {
    top: -20px;
    left: -75px
  }
  .shipping-info_block {
    margin-left: -35px;
    margin-right: -35px
  }
  .shipping-info_block__wrapper {
    border-radius: 0;
    padding: 50px 40px
  }
  .shipping-info_block__wrapper .block_title strong {
    display: block
  }
  .shipping-info_block__wrapper::before {
    top: 20px;
    right: 20px
  }
  .btn_accordion {
    line-height: 140%
  }
  .copyright {
    margin-right: 25%
  }
}
@media only screen and (max-width:460px) {
  .header_lang {
    flex: 1 1 auto
  }
  .header_link {
    font-size: 12px
  }
  .lang_link span {
    width: 18px;
    height: 13px;
    margin-right: 5px
  }
  .triangle_after {
    padding-right: 0
  }
  .triangle_after::after {
    content: none
  }
  .header_currency {
    flex: 1 1 auto
  }
  .btn_mobile {
    position: relative;
    top: auto;
    right: auto
  }
  .tab_content_main .swiper {
    width: 100%;
    max-width: none;
    margin: 0 auto
  }
  .reviews_item {
    border-radius: 20px;
    padding: 20px 20px 40px 20px
  }
  .review_item_rating {
    position: absolute;
    bottom: 20px;
    left: 20px
  }
  .review_date {
    position: absolute;
    bottom: 20px;
    right: 20px
  }
  .block_title {
    font-size: 30px;
    margin-bottom: 30px
  }
}
@media only screen and (max-width:430px) {
  .container {
    max-width: 330px;
    padding: 0 15px
  }
  .reviews_item_bottom p,
  .reviews_item_top p {
    font-size: 12px
  }
  .shipping-info_block {
    margin-left: -40px;
    margin-right: -40px
  }
  .shipping_block .block_title br {
    display: block
  }
  .review_date {
    font-size: 10px
  }
  .footer {
    font-weight: 400;
    font-size: 12px
  }
  .footer_questions {
    line-height: 180%
  }
  .footer_questions li {
    margin-bottom: 5px
  }
  .footer_questions a {
    text-decoration: underline
  }
}
@media only screen and (max-width:375px) {
  .header_logo {
    flex: 0 1 110px
  }
  .shipping_block_video iframe {
    height: 210px
  }
  .copyright {
    margin-right: 0
  }
  .terms {
    position: absolute;
    bottom: 0;
    right: 10%
  }
}
html:root {
  --color_white: #fff;
  --color_white-2: rgba(255, 255, 255, 0.3);
  --color_white-6: rgba(255, 255, 255, 0.6);
  --color_yellow: #ECB72A;
  --color_yellow_gradient: linear-gradient(142.35deg, #FDD835 -8.56%, #F9A825 112.21%);
  --color_red_hover: #800c12;
  --color_light: rgba(255, 255, 255, 0.6);
  --color_light1: rgba(255, 255, 255, 0.1);
  --color_light2: #7E8CA0;
  --color_light3: #596C85;
  --clr-2F: #1a2635;
  --blue-clr-1: #293f5d;
  --clr-24: #18293d
}
html.white:root {
  --color_white: #496A8C;
  --color_white-2: rgba(#496A8C, 0.3);
  --color_white-6: rgba(73, 106, 140, 0.6);
  --color_yellow: #ECB72A;
  --color_yellow_gradient: linear-gradient(142.35deg, #FDD835 -8.56%, #F9A825 112.21%);
  --color_red_hover: #800c12;
  --color_light: rgba(73, 106, 140, 0.6);
  --color_light1: rgba(73, 106, 140, 0.1);
  --color_light2: #7E8CA0;
  --color_light3: #596C85;
  --clr-2F: #E0EAF3;
  --blue-clr-1: #E0EAF3;
  --clr-24: rgba(255, 255, 255, 0.2)
}
*,
::after,
::before,
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box
}
body,
html {
  font-size: 14px;
  line-height: 1.4;
  color: var(--color_white);
  font-family: Montserrat,sans-serif;
  background: var(--clr-2F);
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%
}
body.bodyLock {
  overflow: hidden
}
:active,
:focus,
:hover,
:visited {
  outline: 0;
  outline-offset: 0
}
a {
  text-decoration: none;
  outline: 0
}
ul {
  margin: 0;
  padding: 0
}
ul li {
  list-style: none
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0
}
strong {
  color: var(--color_white);
  font-weight: 700
}
.container {
  max-width: 1360px;
  width: 100%;
  height: 100%;
  padding: 0 35px;
  margin: 0 auto;
  position: relative
}
section {
  position: relative
}
.section {
  position: relative
}
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
  position: relative
}
.wrapper:before {
  content: url(../../../public/img/bg/bg_smoke.png);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .3
}
.row-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}
.header_top {
  background: var(--clr-24);
  height: 130px;
  z-index: 1
}
.header_top::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #27405f;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.header_top._mobile:before {
  opacity: 1;
  visibility: visible
}
.header_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 100%
}
.header_logo {
  background: -o-linear-gradient(345.96deg,#0ed2e2 0,#146bae 100%);
  background: linear-gradient(104.04deg,#0ed2e2 0,#146bae 100%);
  -webkit-box-flex: 0;
  -ms-flex: 0 1 290px;
  flex: 0 1 290px;
  height: 100%;
  position: relative
}
.header_logo:hover {
  background: -o-linear-gradient(345.96deg,#0babb9 0,#197dca 100%);
  background: linear-gradient(104.04deg,#0babb9 0,#197dca 100%)
}
.header_logo .logo {
  color: var(--color_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 25px;
  font-style: italic;
  font-weight: 800;
  width: 100%;
  height: 100%
}
.header_box {
  border-right: 1px solid #294c79;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
  position: relative
}
.header_lang {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 168px;
  flex: 0 1 168px
}
.header_box:hover {
  background: var(--blue-clr-1)
}
.header_link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color_white);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  position: relative
}
.header_link:hover {
  color: var(--color_white);
}
.triangle_after {
  padding-right: 13px
}
.triangle_after::after {
  content: '';
  position: absolute;
  top: 7px;
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: var(--color_white) transparent transparent transparent
}
.lang_link span {
  display: block;
  width: 28px;
  height: 20px;
  margin-right: 10px
}
.lang_link span img {
  display: block;
  width: 100%
}
.header_currency {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 117px;
  flex: 0 1 117px
}
.header_currency_dropdown,
.header_lang_dropdown {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--blue-clr-1);
  border-bottom: 3px solid #11a4cb;
  padding: 25px 0;
  z-index: 2;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.header_box ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 20px 0
}
.header_box ul li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color_white);
  font-weight: 600;
  font-size: 16px;
  line-height: 19px
}
.header_box ul li a:hover {
  text-decoration: underline
}
.header_box ul li a span {
  display: block;
  width: 28px;
  height: 20px;
  margin-right: 10px
}
.header_currency_dropdown {
  opacity: 0;
  visibility: hidden
}
.header_box ul.header_currency_dropdown li a {
  display: inline-block
}
.header_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s
}
.nav {
  width: 100%
}
.nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  height: 100%
}
.nav li {
  border-right: 1px solid #294c79
}
.nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color_white-6);
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  width: 100%;
  height: 100%;
  padding: 0 30px;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  text-transform: uppercase
}
.nav li:hover {
  background: var(--blue-clr-1)
}
.nav.min li a {
  font-size: 16px
}
.telegram_icon {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 165px;
  flex: 0 1 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: url(../../../public/img/ico/telegram.svg) no-repeat center/25px;
  width: 100%;
  height: 100%
}
.header_login {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: var(--color_white);
  background: var(--clr-2F);
  border: none;
  border-bottom: 3px solid #acc342;
  text-transform: uppercase;
  cursor: pointer
}
@media (any-hover:hover) {
  .header_box:hover .header_currency_dropdown,
  .header_box:hover .header_lang_dropdown {
    opacity: 1;
    visibility: visible
  }
  .telegram_icon:hover {
    background: var(--blue-clr-1) url(../../../public/img/ico/telegram.svg) no-repeat center/25px
  }
}
.box_mobile {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%
}
.btn_mobile {
  outline: 0;
  display: none;
  border: none;
  background: #204c72;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 64px;
  flex: 0 0 64px;
  height: 100%;
  width: 64px;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  overflow: hidden
}
.btn_mobile span {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  background: var(--color_white);
  border-radius: 2px;
  width: 28px;
  height: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}
.btn_mobile span:after,
.btn_mobile span:before {
  content: '';
  position: absolute;
  left: 0;
  background: var(--color_white);
  border-radius: 2px;
  width: 100%;
  height: 3px;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}
.btn_mobile span:before {
  top: -9.5px
}
.btn_mobile span:after {
  top: 9.5px
}
.header_nav._mobile ~ .btn_mobile span {
  background: 0 0
}
.header_nav._mobile ~ .btn_mobile span:before {
  top: 0;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg)
}
.header_nav._mobile ~ .btn_mobile span:after {
  top: 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg)
}
.main {
  background: url(../../../public/img/bg/bg.png) no-repeat top center/cover;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.section_main {
  padding: 100px 0 50px 0
}
.section_main:before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1300px
}
.section_main_content {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.main_content__left {
  width: 48%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 625px;
  flex: 0 1 625px
}
.section_block {
  padding-top: 50px;
  margin-bottom: 40px
}
.section_block:first-child {
  padding-top: 0
}
.tabs_btn_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: var(--color_light1);
  border-radius: 10px;
  margin-bottom: 40px;
  overflow: hidden
}
.tabs_btn_main button {
  color: var(--color_white);
  font-size: 12px;
  line-height: 15px;
  background: 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 10px;
  outline: 0;
  cursor: pointer;
  width: 50%;
  height: 50px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-transform: uppercase
}
.tabs_btn_main button:hover {
  background-color: var(--color_yellow)
}
.tabs_btn_main button.active {
  background-color: var(--color_yellow)
}
.tab_content_main {
  display: none
}
.slider_comfortable,
.slider_manually {
  width: 100%;
  position: relative
}
.tab_content_main .swiper {
  width: 100%;
  max-width: 470px;
  margin: 0 auto
}
.swiper-slide__numper {
  color: var(--color_white);
  font-weight: 900;
  font-size: 50px;
  line-height: 61px;
  text-transform: uppercase;
  opacity: .1;
  text-align: center
}
.swiper-slide__title {
  color: var(--color_white);
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  text-transform: uppercase;
  text-align: center;
  margin: 10px 0 20px 0
}
.tab_content_main .swiper-slide p {
  color: var(--color_light);
  font-weight: 400;
  font-size: 14px;
  margin: 0
}
.tab_content_main .swiper-button-next,
.tab_content_main .swiper-button-prev {
  top: 65%
}
.tab_content_main .swiper-button-next:after,
.tab_content_main .swiper-button-prev:after {
  content: none
}
.tab_content_main .swiper-button-prev svg {
  width: 40px;
  height: 40px
}
.tab_content_main .swiper-button-next svg {
  width: 40px;
  height: 40px;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg)
}
.tab_content_main .swiper-comfortable-button-next:hover svg path,
.tab_content_main .swiper-comfortable-button-prev:hover svg path,
.tab_content_main .swiper-manually-button-next:hover svg path,
.tab_content_main .swiper-manually-button-prev:hover svg path {
  fill: var(--color_yellow);
  fill-opacity: 1
}
.shipping_block .block_title br {
  display: none
}
.shipping_block_video {
  margin-top: 45px;
  border-radius: 10px
}
.shipping_block_video iframe {
  border-radius: 10px;
  width: 100%;
  max-width: 625px;
  height: 350px
}
.block_title {
  font-weight: 400;
  font-size: 35px;
  margin-bottom: 45px;
  text-transform: uppercase
}
.block_title span {
  font-weight: 800;
  font-size: 35px;
  text-transform: uppercase
}
.benefits_block_wrapper .row-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 30px
}
.benefits_block_wrapper .row-flex:last-child {
  margin-bottom: 0
}
.benefits_block_item {
  width: 47%
}
.benefits_block_item-title {
  color: var(--color_white);
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  padding-top: 50px;
  margin-bottom: 20px;
  text-transform: uppercase;
  position: relative
}
.benefits_block_item-title:before {
  content: '';
  position: absolute;
  top: -20px;
  left: -22px;
  width: 70px;
  height: 70px
}
.benefits_block_item:nth-child(1) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_1.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(2) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_2.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(3) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_3.svg) no-repeat top left/auto
}
.benefits_block_item:nth-child(4) .benefits_block_item-title:before {
  background: url(../../../public/img/ico/b_4.svg) no-repeat top left/auto
}
.benefits_block_item p {
  color: var(--color_light);
  margin: 0 auto
}
.shipping-info_block__wrapper {
  color: var(--color_light);
  font-weight: 400;
  font-size: 14px;
  background: -o-linear-gradient(343.41deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  border-radius: 40px;
  padding: 35px 40px;
  position: relative
}
.shipping-info_block__wrapper:before {
  content: url(../../../public/img/picture/moneta.png);
  position: absolute;
  top: 50px;
  left: -80px
}
.shipping-info_block__wrapper .block_title {
  margin-bottom: 25px
}
.shipping-info_block__wrapper p {
  margin: 0
}
.shipping-info_block__wrapper ul {
  margin: 20px 0
}
.shipping-info_block__wrapper li {
  padding-left: 25px;
  margin-bottom: 15px;
  position: relative
}
.shipping-info_block__wrapper li:last-child {
  margin-bottom: 0
}
.shipping-info_block__wrapper li:before {
  content: '';
  position: absolute;
  top: 7px;
  left: 9px;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #b6bdcb
}
.faq_block .block_title {
  margin-bottom: 0
}
.btn_accordion {
  color: #8d9bac;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  background: 0 0;
  border: none;
  border-bottom: 1px solid rgba(126,144,161,.5);
  padding: 15px 10px 15px 0;
  margin-top: 15px;
  width: 100%;
  text-align: left;
  outline: 0;
  cursor: pointer;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-transform: uppercase;
  position: relative
}
.btn_accordion:after {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6px 3px 0 3px;
  border-color: var(--color_white) transparent transparent transparent;
  opacity: .3
}
.btn_accordion:hover {
  color: var(--color_white)
}
.accordion_active {
  color: var(--color_white);
  border-bottom: 1px solid transparent
}
.btn_accordion.accordion_active:after {
  opacity: 1;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg)
}
.faq_content {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height .2s ease-out;
  -o-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out
}
.faq_content_wrapper {
  padding: 0 0 15px 0
}
.btn_accordion.accordion_active ~ .faq_content .faq_content_wrapper {
  border-bottom: 1px solid rgba(126,144,161,.5);
  padding-bottom: 15px
}
.faq_title {
  color: var(--color_white);
  font-weight: 700;
  line-height: 140%;
  margin-bottom: 15px
}
.faq_content_wrapper ul {
  margin-bottom: 20px
}
.faq_content_wrapper ul:last-child {
  margin-bottom: 0
}
.faq_content_wrapper li {
  color: var(--color_light);
  padding: 5px 5px 5px 35px;
  margin-bottom: 5px;
  position: relative
}
.faq_content_wrapper li span {
  position: absolute;
  top: 3px;
  left: 0;
  width: 25px;
  height: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #315070;
  font-size: 16px;
  line-height: 1;
  background: #788ca3;
  border-radius: 50%;
  padding-left: 2px
}
.faq_content_wrapper p {
  margin: 0
}
.politika_block .block_title {
  word-wrap: break-word
}
@media only screen and (max-width:498px) {
  .politika_block .block_title .break_word {
    display: block;
    position: relative
  }
  .politika_block .block_title .break_word:after {
    content: '';
    position: absolute;
    top: 18px;
    right: -12px;
    width: 15px;
    height: 4px;
    background: var(--color_white)
  }
}
.politika_block .title_politika {
  font-weight: 500;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color_white);
  margin-bottom: 20px
}
.politika_block p {
  line-height: 140%;
  color: var(--color_light);
  margin: 0
}
.politika_block ol {
  color: var(--color_light);
  list-style-position: outside;
  padding: 0 0 0 15px;
  margin: 20px 0 35px 0
}
.politika_block li {
  margin-bottom: 15px
}
.politika_block a {
  color: var(--color_white)
}
.main_content__right {
  width: 40%;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 515px;
  flex: 0 1 515px
}
.trustpilot {
  text-align: center
}
.trustpilot img {
  width: 100%;
  max-width: 146px
}
.trustpilot p {
  margin: 10px 0 25px 0;
  text-align: center
}
.slider_rewievs {
  width: 100%;
  min-width: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative
}
.slider_reviews_container {
  width: 100%;
  height: 100%;
  padding-bottom: 50px;
  position: relative
}
.reviews_item {
  background: -o-linear-gradient(343.41deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  border-radius: 40px;
  padding: 45px 45px 40px 45px
}
.reviews_item_top {
  margin-bottom: 30px;
  position: relative
}
.review_item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.review_item_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase
}
.review_item_name span {
  display: block;
  width: 25px;
  height: 25px;
  margin-right: 20px
}
.review_item_name span img {
  width: 100%
}
.review_item_rating {
  width: 81px;
  height: 15px
}
.review_item_rating img {
  width: 100%
}
.reviews_item_bottom p,
.reviews_item_top p {
  color: var(--color_light);
  font-size: 14px
}
.review_date {
  color: var(--color_light2);
  font-weight: 500
}
.swiper-pagination_reviews.swiper-pagination-bullets {
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  padding: 0!important
}
.swiper-pagination_reviews.swiper-pagination-bullets .swiper-pagination-bullet {
  background: var(--color_light3);
  width: 10px;
  height: 10px;
  margin: 0 6px;
  opacity: 1;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}
.swiper-pagination_reviews.swiper-pagination-bullets .swiper-pagination-bullet-active {
  background: var(--color_white)
}
.powered {
  color: var(--color_light);
  margin-top: 30px;
  text-align: center
}
.powered p {
  margin: 5px 0 0 0
}
.powered p a {
  color: var(--color_light);
  font-weight: 500
}
.footer {
  color: var(--color_light);
  font-weight: 500;
  background: #122d48;
  padding: 50px 0;
  position: relative;
  z-index: 1
}
.footer .container {
  width: 100%;
  max-width: 1820px;
  padding: 0 20px
}
.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.footer_logo {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 20%;
  flex: 0 1 20%;
  padding-top: 8px
}
.footer_logo .logo {
  display: block;
  width: 100%;
  max-width: 152px
}
.footer_logo .logo img {
  display: block;
  width: 100%
}
.footer_contacts {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 37%;
  flex: 0 1 37%;
  line-height: 200%
}
.footer_questions {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  line-height: 200%;
  position: relative;
  z-index: 1
}
.footer_questions a {
  color: var(--color_light);
  display: inline-block
}
.footer_questions a:hover {
  color: var(--color_white);
  text-decoration: underline
}
.footer_bottom {
  position: relative;
  z-index: 0
}
.footer_bottom .row-flex {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.copyright {
  display: inline-block
}
.terms {
  color: var(--color_light);
  text-decoration: underline
}
.terms {
  color: var(--color_light);
  text-decoration: underline
}
.terms:hover {
  color: var(--color_white);
  text-decoration: none
}
.modal_window {
  display: none;
  position: fixed;
  z-index: 21;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(28,48,75,.98)
}
.modal__body {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  max-width: 625px;
  width: 100%;
  height: auto;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: .4s;
  animation-name: animatetop;
  animation-duration: .4s
}
@-webkit-keyframes animatetop {
  from {
    top: 50%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
@keyframes animatetop {
  from {
    top: -50%;
    opacity: 0
  }
  to {
    top: 50%;
    opacity: 1
  }
}
.close__modal {
  position: absolute;
  top: 37px;
  right: 35px;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 1
}
.close__modal:before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #475d79;
  border-radius: 10px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}
.close__modal:after {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  width: 100%;
  height: 3px;
  background: #475d79;
  border-radius: 10px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s
}
.close__modal:hover:after,
.close__modal:hover:before {
  background: var(--color_white)
}
.modal__content {
  overflow: hidden
}
.tabs_wrapper {
  position: relative
}
.tabs_button {
  position: absolute;
  top: 25px;
  left: 40px;
  overflow: hidden;
  z-index: 1
}
.tabs_button button {
  color: var(--color_light3);
  font-weight: 800;
  font-size: 35px;
  line-height: 140%;
  background: 0 0;
  border: none;
  outline: 0;
  cursor: pointer;
  padding: 0;
  margin-right: 38px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  text-transform: uppercase
}
.tabs_button button:hover {
  color: var(--color_white)
}
.tabs_button button.active {
  color: var(--color_white)
}
.tab_content__modal {
  display: none
}
.tabs_content__top {
  background: rgba(38,58,82,.8);
  border-radius: 40px;
  padding: 100px 40px 95px 40px;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative
}
.tabs_content__bottom {
  color: var(--color_light2);
  text-align: center
}
.tabs_content__bottom button {
  color: var(--color_white);
  border: none;
  background: 0 0;
  text-decoration: underline;
  cursor: pointer
}
.condition {
  color: var(--color_light3);
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  width: 100%;
  max-width: 420px;
  margin: 15px auto 0;
  text-align: center
}
.condition a {
  color: var(--color_light3);
  text-decoration: underline
}
.form__group-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px
}
.form__group-wrapper .form__group {
  width: 49%;
  position: relative
}
.form__input {
  color: var(--color_white);
  font-weight: 500;
  font-size: 14px;
  background: rgba(255,255,255,.15);
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 50px;
  padding: 5px 5px 5px 20px
}
.form__input::-webkit-input-placeholder {
  color: var(--color_white-2)
}
.form__input::-moz-placeholder {
  color: var(--color_white-2)
}
.form__input:-ms-input-placeholder {
  color: var(--color_white-2)
}
.form__input::-ms-input-placeholder {
  color: var(--color_white-2)
}
.form__input::placeholder {
  color: var(--color_white-2)
}
.form__group-wrapper .form__group:nth-child(2) span {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 15px;
  background: url(../../../public/img/ico/eye.svg) no-repeat center/13px;
  width: 20px;
  height: 20px;
  cursor: pointer
}
.form__link {
  color: var(--color_light2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100%;
  min-height: 26px
}
.form__link a {
  color: var(--color_light2);
  text-decoration: underline
}
.checkbox__input {
  display: none
}
.checkbox__input:checked + .checkbox__label:after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1)
}
.checkbox__label {
  display: inline-block;
  position: relative;
  padding-left: 35px;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.checkbox__label:before {
  content: '';
  position: absolute;
  top: -3px;
  left: 0;
  width: 26px;
  height: 26px;
  background: rgba(255,255,255,.15);
  border-radius: 50%;
  cursor: pointer
}
.checkbox__label:after {
  content: '';
  position: absolute;
  top: 2px;
  left: 5px;
  width: 16px;
  height: 16px;
  background: #ecb72a;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform .1s ease 0s;
  transition: -webkit-transform .1s ease 0s;
  -o-transition: transform .1s ease 0s;
  transition: transform .1s ease 0s;
  transition: transform .1s ease 0s,-webkit-transform .1s ease 0s
}
.btn_form__modal {
  position: absolute;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color_white);
  background: var(--color_yellow);
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  border: none;
  width: 100%;
  height: 72px;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1
}
.forgot_password-hidden,
.tabs_content__top-visible._top-hidden {
  display: none
}
.tabs_content__top-visible._top-hidden ~ .forgot_password-hidden {
  display: block
}
.forgot_password--title {
  font-weight: 600;
  font-size: 22px;
  line-height: 120%;
  text-transform: uppercase
}
.forgot_password-hidden p {
  color: var(--color_light2);
  font-weight: 400;
  font-size: 14px;
  margin: 15px 0 30px 0
}
.forgot_password-hidden p span {
  color: var(--color_white);
  font-weight: 600
}
.social_autorization {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-top: 1px solid rgba(255,255,255,.2);
  position: relative;
  padding-top: 65px;
  margin-top: 35px
}
.social_autorization span.social_autorization__title {
  position: absolute;
  top: 30px;
  left: 0;
  font-weight: 400;
  font-size: 14px;
  color: var(--color_light2);
  display: inline-block
}
.social_autorization a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: var(--color_white);
  font-size: 12px;
  line-height: 1.1;
  background: var(--color_light1);
  border-radius: 10px;
  width: 49%;
  height: 66px;
  text-transform: uppercase
}
.social_autorization__google span {
  display: block;
  background: url(../../../public/img/ico/icon_google.svg) no-repeat left center/26px;
  padding: 10px 0 10px 45px
}
.social_autorization__facebook span {
  display: block;
  background: url(../../../public/img/ico/icon_facebook.svg) no-repeat left center/13px;
  padding: 10px 0 10px 30px
}
.btn__top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  width: 50px;
  height: 50px;
  border: 3px solid var(--color_red);
  /*background: url(../../../public/img/ico/arr_top.svg) no-repeat center/23.36px;*/
  border-radius: 50%;
  z-index: 8;
  cursor: pointer;
  padding: 0;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: .2s;
  -o-transition: .2s;
  transition: .2s;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px)
}
.btn__top img {
  width: 22px
}
.btn__top--active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0)
}
body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column
}
footer {
  margin-top: auto
}
.wrapper {
  overflow: visible
}
.nav li a {
  border-bottom: 3px solid transparent;
  border-top: 3px solid transparent
}
.nav li a:hover {
  border-bottom: 3px solid #11a4cb
}
.pages-forms {
  padding-top: 180px;
  padding-bottom: 180px
}
.swiper-pagination_reviews.swiper-pagination-bullets .swiper-pagination-bullet:hover {
  background: var(--color_white)
}
.form-trs {
  background: -o-linear-gradient(343.41deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  border-radius: 40px;
  margin: 0 auto;
  padding: 40px
}
.form-trs hr {
  background: rgba(255,255,255,.2);
  height: 1px;
  width: 100%;
  border: none;
  margin-top: 35px;
  margin-bottom: 40px
}
.form-trs__thx {
  max-width: 625px
}
.form-trs__thx .form__top img {
  margin: 0 auto;
  display: block;
  margin-bottom: 32px
}
.form-trs__thx .form__top h2 {
  font-weight: 600;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color_white);
  margin-bottom: 24px;
  text-align: center
}
.form-trs__thx .form__top p {
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  text-align: center;
  max-width: 370px;
  margin: 0 auto;
  color: var(--color_white-6)
}
.form-trs__thx .form__top p span {
  color: var(--color_white);
  font-weight: 700
}
.form-trs__thx .form__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start
}
.form-trs__thx .form__bottom .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 14px;
  border-radius: 10px;
  height: 66px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.form-trs__thx .form__bottom .button:hover {
  opacity: .8
}
.form-trs__thx .form__bottom .button span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  text-transform: uppercase;
  color: var(--color_white)
}
.form-trs__thx .form__bottom p {
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  color: var(--color_white-6)
}
.form-trs__thx .form__bottom p span {
  color: var(--color_white)
}
.form-trs__thx .bottom__item {
  width: 100%
}
.form-trs__thx .bottom__item_tg {
  margin-right: 20px
}
.form-trs__thx .bottom__item_tg .button {
  background: #52b8d7
}
.form-trs__thx .bottom__item_tg p a {
  color: #52b8d7;
  text-decoration: underline
}
.form-trs__thx .bottom__item_tr .button {
  background: #00b67a
}
.form-trs__thx .bottom__item_tr p a {
  color: #00b67a;
  text-decoration: underline
}
.page-blocks__sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: contents;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.page-blocks__lft {
  margin-right: 20px;
  width: 100%;
  max-width: 100%;
}
.page-blocks h2 {
  font-size: 35px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color_white);
  font-weight: 200
}
.page-blocks h2 span {
  font-weight: 700
}
.page-blocks h1 {
  font-style: italic;
  font-weight: 800;
  font-size: 150px;
  line-height: 120%;
  text-transform: uppercase;
  color: var(--color_white)
}
@-webkit-keyframes loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes loading {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0)
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.general-block {
  background: -o-linear-gradient(343.41deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  background: linear-gradient(106.59deg,rgba(255,255,255,.18) .44%,rgba(255,255,255,0) 113.66%);
  -webkit-backdrop-filter: blur(28px);
  backdrop-filter: blur(28px);
  border-radius: 40px;
  /*max-width: 625px;*/
}
.general-block__1 {
  padding-bottom: 0
}
.general-block__radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -20px
}
.general-block__radios input {
  display: none
}
.general-block__radios label {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  margin: 0 20px
}
.general-block__radios label:before {
  content: '';
  background: var(--color_light1);
  width: 26px;
  height: 26px;
  margin-right: 10px;
  display: block;
  border-radius: 50%
}
.general-block__radios input:checked + label:after {
  content: '';
  background: #ecb72a;
  -webkit-box-shadow: 0 6px 20px rgba(253,194,9,.2);
  box-shadow: 0 6px 20px rgba(253,194,9,.2);
  width: 16px;
  height: 16px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 5px
}
.general-block__radios_1 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -15px -10px;
  margin-bottom: 0
}
.general-block__radios_1 label {
  margin: 0;
  margin: 15px 10px;
  width: calc(100% / 3 - 20px)
}
.general-block hr {
  margin-bottom: 36px;
  margin-top: 40px;
  display: block;
  border: none;
  height: 1px;
  background: rgba(255,255,255,.2)
}
.general-block h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white-2);
  margin-bottom: 23px
}
.general-block__block1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block .other-pay {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--color_white-2);
  margin-top: 10px;
  margin-left: 10px
}
.general-block .other-pay:hover {
  color: var(--color_white);
  text-decoration: underline
}
.general-block .info-success {
  background: rgba(113,173,98,.5);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 16px;
  text-align: center;
  color: var(--color_white);
  margin-bottom: 40px
}
.general-block .info-fail {
  background: rgba(235,64,41,.5);
  border-radius: 10px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  padding: 16px;
  text-align: center;
  color: var(--color_white);
  margin-bottom: 40px
}
.general-block .how-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto
}
.general-block .how-works:hover span {
  color: var(--color_white);
  text-decoration: underline
}
.general-block .how-works span {
  font-weight: 500;
  font-size: 14px;
  margin-right: 10px;
  line-height: 17px;
  text-align: right;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  color: var(--color_white-2)
}
.general-block .next-block {
  margin-bottom: 38px
}
.general-block .inputs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 0 -15px;
  margin-bottom: 40px
}
.general-block .inputs label {
  margin: 0 15px;
  width: 100%
}
.general-block .inputs input {
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
  padding-bottom: 14px;
  text-transform: uppercase;
  color: var(--color_white);
  background: 0 0;
  border: none;
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.2)
}
.general-block .inputs span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 9px;
  color: var(--color_white-2)
}
.general-block .button-buy {
  background: -o-linear-gradient(307.65deg,#fdd835 -8.56%,#f9a825 112.21%);
  background: linear-gradient(142.35deg,#fdd835 -8.56%,#f9a825 112.21%);
  border-radius: 0 0 40px 40px;
  height: 72px;
  width: calc(100% + 80px);
  border: none;
  margin-left: -40px;
  margin-right: -40px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
  text-transform: uppercase;
  color: var(--color_white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer
}
.general-block .button-buy span {
  padding-left: 20px
}
.general-block .button-buy_success {
  background: #73b064
}
.general-block__switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block__switch li {
  background: var(--color_light1);
  border-radius: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--color_white);
  border: 1px solid transparent;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease
}
.general-block__switch li:hover {
  border: 1px solid #ecb72a;
  color: #ecb72a
}
.general-block__switch li.li_active {
  background: #ecb72a;
  -webkit-box-shadow: 0 6px 20px rgba(253,194,9,.2);
  box-shadow: 0 6px 20px rgba(253,194,9,.2);
  border-radius: 10px
}
.general-block__switch li.li_active:hover {
  color: var(--color_white)
}
.general-block__switch_type {
  margin: 0 -5px;
  margin-bottom: 34px
}
.general-block__switch_type li {
  height: 66px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 5px
}
.general-block__switch_type li p {
  margin-left: 12px
}
.general-block__switch_pr {
  margin: 0 -5px;
  margin-bottom: 40px
}
.general-block__switch_pr li {
  height: 49px;
  width: 100%;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  text-align: center;
  text-transform: uppercase;
  color: var(--color_white)
}
.general-block__2 {
  padding-bottom: 0
}
.general-block__2 h3 {
  font-size: 35px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color_white);
  font-weight: 300
}
.general-block__2 h3 span {
  font-weight: 900
}
.general-block__2 label,
.general-block__2 p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white-2)
}
.general-block__2 label span,
.general-block__2 p span {
  color: var(--color_white)
}
.general-block__2 label a,
.general-block__2 p a {
  color: var(--color_white-2);
  text-decoration: underline
}
.general-block__2 label a:hover,
.general-block__2 p a:hover {
  color: var(--color_white)
}
.general-block__2 label {
  text-transform: none;
  margin-top: 20px
}
.general-block__2 label a {
  margin: 0 4px
}
.general-block__2 .forgot {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white-2);
  text-decoration: underline;
  margin-top: 14px;
  display: block;
  margin-bottom: 18px
}
.general-block__2 .forgot:hover {
  color: var(--color_white)
}
.general-block__2 .inputs1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.general-block__2 .another-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block__2 .another-login a {
  background: var(--color_light1);
  border-radius: 10px;
  height: 66px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center
}
.general-block__2 .another-login a span {
  font-weight: 600;
  font-size: 12px;
  line-height: 15px;
  margin-left: 20px;
  text-transform: uppercase;
  color: var(--color_white)
}
.general-block__2 .another-login a:first-child {
  margin-right: 10px
}
.general-block__2 input {
  background: var(--color_light1);
  border-radius: 10px;
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  border: none;
  outline: 0;
  width: 100%;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white)
}
.general-block__2 input::-webkit-input-placeholder {
  color: var(--color_white-2)
}
.general-block__2 input::-moz-placeholder {
  color: var(--color_white-2)
}
.general-block__2 input:-ms-input-placeholder {
  color: var(--color_white-2)
}
.general-block__2 input::-ms-input-placeholder {
  color: var(--color_white-2)
}
.general-block__2 input::placeholder {
  color: var(--color_white-2)
}
.general-block__2 input:first-child {
  margin-right: 10px
}
.general-block__3 {
  margin-top: 38px
}
.general-block__3 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block__3 .top p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white)
}
.general-block__3 h3 {
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 22px
}
.general-block__disabled {
  opacity: .4;
  padding: 33px 40px;
  margin: 30px 0
}
.general-block__5 {
  width: 100%
}
.general-block__sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between
}
.general-block__sides .rht .sides {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block__sides .rht .sides .item {
  margin-left: 11px
}
.general-block__sides .rht .sides .item_dis {
  opacity: .3
}
.general-block__5 hr {
  margin-top: 30px
}
.general-block__5 ul {
  margin-top: 30px
}
.general-block .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block .top svg {
  margin-left: auto
}
.general-block .top p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white)
}
.general-block .top h3 {
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 22px
}
.general-block__4 {
  margin-top: 30px;
  padding-bottom: 40px
}
.general-block__4 hr {
  margin-top: 30px
}
.general-block__4 .progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 20px
}
.general-block__4 .progress img {
  -webkit-animation: loading 2s linear infinite;
  animation: loading 2s linear infinite
}
.general-block__4 .progress span {
  margin-left: 17px;
  font-size: 22px;
  line-height: 140%;
  text-transform: uppercase;
  color: var(--color_white)
}
.general-block__4 .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center
}
.general-block__4 .top p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--color_white)
}
.general-block__4 h3 {
  margin-bottom: 0;
  margin-right: 40px;
  font-size: 22px
}
.general-block__done {
  padding: 33px 40px;
  margin: 30px 0
}
.general-block__done .top p {
  color: rgba(255,255,255,.4)
}
.subb {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 47px;
  color: var(--color_white-2)
}
.subb span {
  color: var(--color_white);
  font-weight: 700
}
html.white .telegram_icon {
  color: rgba(73,106,140,.6)
}
html.white .tab_content_main svg path {
  fill-opacity: .4
}
@media screen and (max-width:900px) {
  .pages-forms {
    padding-top: 100px;
    padding-bottom: 100px
  }
  .form-trs__thx .form__bottom {
    display: block
  }
  .form-trs {
    padding: 40px 37px 36px;
    margin-left: -15px;
    margin-right: -15px
  }
  .form-trs__thx .bottom__item_tg {
    margin-bottom: 36px
  }
  .form-trs__thx .form__bottom p {
    text-align: center
  }
  .container {
    max-width: 100%!important;
  }
}
