<template>
    <div id="Dashboard" class="wrapper">
        <navbar/>
        <bots v-if="path == 'bots' || path == ''"/>
        <filters v-else-if="path == 'filters'"/>
        <!--<botChart v-else-if="path == 'botChart'"/>-->
        <video src="../../public/media/smoke-background-optimized.mp4" autoplay loop muted></video>
    </div>
</template>

<script>
    import { mapActions, mapGetters } from "vuex"
    import navbar from '../components/navbar'
    import bots from '../components/bots'
    import filters from '../components/filters'
    import analytics from '../components/botChart'

    export default {
        name: 'Dashboard',
        components: {
            navbar,
            bots,
            filters,
            analytics
        },
        methods: {
            ...mapActions(['bindFirebaseCollections'])
        },
        computed: {
            ...mapGetters(['user']),
            path() {
                return this.$route.path.replace('/', '')
            }
        },
        mounted () {
            this.bindFirebaseCollections(['bots', 'filters'])
            document.querySelector('video').playbackRate = 2
        }
    }
</script>
