<template>
    <div class="wrapper login-page">
        <main class="page-blocks">
            <div class="container">
                <div class="page-blocks__sides">
                    <div class="page-blocks__lft">
                        <h2>Самые <span>ахуевшие</span> боты</h2>
                        <h1>FIFA 22</h1>
                        <div class="general-block general-block__1 form-login-wrapper">
                            <form class="form-login" id="form-login" @submit.prevent="submit">
                                <label for="email">Email</label>
                                <input :value="email" @input="email = $event.target.value" type="email" id="email" name="email" placeholder="мыло" required autofocus>
                                <label for="password">Password</label>
                                <input :value="password" @input="password = $event.target.value" type="password" id="password" name="password" placeholder="пасс" required>
                                <div class="form-login-buttons">
                                    <button :class="loginButtonClass">ВОЙТИ С НОГИ</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <video src="../../public/media/smoke-background-optimized.mp4" autoplay loop muted></video>
    </div>
</template>

<script>
    import firebase from "../services/firebase";

    export default {
        data: () => ({
            email: '',
            password: '',
            loading: false
        }),
        computed: {
            loginButtonClass () {
                if (this.loading) {
                    return 'button is-loading'
                } else {
                    return 'button'
                }
            }
        },
        methods: {
            submit () {
                this.loading = true
                const { email, password } = this

                firebase.auth().signInWithEmailAndPassword(email, password)
                    .then(data => {
                        this.$router.replace({ name: "Dashboard" })
                    })
                    .catch(err => {
                        this.loading = false
                        console.log(err.message)
                    })
            }
        }
    }
</script>
