<template>
    <div id="bot-chart">
        <vue-apex-charts ref="chart" :options="options" :series="series"></vue-apex-charts>
        <pre v-if="JSONStats" @click="JSONStats = false">{{ JSONStats }}</pre>
    </div>
</template>

<script>
    import VueApexCharts from 'vue-apexcharts'
    import { mapGetters, mapActions } from 'vuex'
    import bots from '../components/bots'

    export default {
        name: "botChart",
        components: {
            VueApexCharts,
            bots
        },
        computed: {
            ...mapGetters(['bots', 'currentBot', 'hiddenStatsIndexes'])
        },
        mounted() {
            this.currentBotId = this.currentBot.id
            this.fetchStats()
            this.$refs.chart.updateOptions({
                chart: {
                    events: {
                        dataPointSelection: (event, chartContext, { seriesIndex, dataPointIndex }) => {
                            const series = this.series[seriesIndex]
                            this.JSONStats = this.currentBot.statsByHour[this.currentBot.utcISOStringForHour(dataPointIndex)][series.name]
                        },
                        legendClick: (chartContext, seriesIndex, config) => {
                            let hiddenSeriesIndexes = []
                            if (this.hiddenStatsIndexes.includes(seriesIndex)) {
                                hiddenSeriesIndexes = this.hiddenStatsIndexes.filter(index => index !== seriesIndex)
                            } else {
                                hiddenSeriesIndexes = this.hiddenStatsIndexes
                                hiddenSeriesIndexes.push(seriesIndex)
                            }
                            this.setHiddenStatsIndexes(hiddenSeriesIndexes)
                        },
                    }
                },
                xaxis: {
                    categories: this.currentBot.statsByHour !== undefined ? Object.keys(this.currentBot.statsByHour) : []
                }
            })
        },
        methods: {
            ...mapActions(['setHiddenStatsIndexes']),
            async fetchStats() {
                await this.currentBot.fetchTodayStats()
                this.series = this.currentBot.statsToSeries()
                if (this.series.length === 0) return
                this.$nextTick(() => {
                    for (let idx of this.hiddenStatsIndexes) {
                        this.$refs.chart.hideSeries(this.series[idx].name)
                    }
                })
            },
            handleDoubleClick() {
                this.fetchStats()
            }
        },
        watch: {
            async currentBot(bot) {
                if (bot.id !== this.currentBotId) {
                    setTimeout(() => {
                        this.currentBotId = bot.id
                        this.fetchStats()
                        this.JSONStats = false
                    }, 50)
                }
            }
        },
        data: function() {
            return {
                JSONStats: false,
                currentBotId: -1,
                options: {
                    chart: {
                        type: 'area',
                        foreColor: '#ccc',
                        toolbar: {
                            show: false
                        }
                    },
                    states: {
                        active: {
                            filter: {
                                type: 'none' /* none, lighten, darken */
                            }
                        }
                    },
                    theme: {
                        mode: 'dark',
                    },
                    dataLabels: {
                        enabled: false
                    },
                    stroke: {
                        curve: 'smooth',
                        width: 0
                    },
                    xaxis: {
                        type: 'datetime',
                        categories: []
                    },
                    tooltip: {
                        x: {
                            format: 'dd/MM/yy HH:mm'
                        },
                    },
                    grid: {
                        borderColor: "#535A6C",
                        xaxis: {
                            lines: {
                                show: true
                            }
                        },
                        yaxis: {
                            lines: {
                                show: true
                            }
                        }
                    },
                    legend: {
                        position: 'top',
                        horizontalAlign: 'right',
                    },
                    colors: ['#08cde0', "#fd9d76", '#775DD0', '#cb4e5d', '#FDD835', '#FDD835'],
                },
                series: []
            }
        }
    }
</script>
