
<template>
    <main class="page-blocks">
        <div class="container">
            <div class="page-blocks__sides">
                <div class="page-blocks__lft">
                    <div class="main-title">
                        <h2>the most <span>assfucking</span> bots</h2>
                        <h1>FIFA 22</h1>
                    </div>

                    <div class="dashboard-cards">
                        <bot-card v-for="bot in bots" :key="bot.id" :bot="bot"
                                  v-on:doubleClick="handleDoubleClick"
                                  v-on:rightClick="handleRightClick"/>
                    </div>

                    <vue-context ref="botsMenu">
                        <!--<li><a href="#" v-if="currentBot.id !== undefined"-->
                               <!--@click.prevent="openMenu($refs.botInfoMenu, $event)">Бот {{currentBot.id}}</a></li>-->
                        <li><a href="#" @click.prevent="createBot">Create bot</a></li>
                        <li><a href="#" @click.prevent="$refs.botChart.fetchStats()">Refresh stats</a></li>
                    </vue-context>

                    <vue-context ref="botInfoMenu"
                                 :closeOnClick="false">
                        <div class="form">
                            <div class="field id">bot <span>{{currentBot.id}}</span><br/></div>
                            <div class="field">
                                <div class="control">
                                    <input class="input is-small is-rounded"
                                           type="text"
                                           placeholder="name"
                                           v-model="currentBot.name">
                                </div>
                            </div>
                            <div class="field">
                                <div class="control">
                                    <select name="filter" v-model="currentBot.filterId">
                                        <option v-for="filter in filters" :key="filter.id" v-bind:value="filter.id">Fltr{{filter.id}}: {{filter.name}} {{filter.profit}}+</option>
                                    </select>
                                </div>
                            </div>
                            <div class="field">
                                <p v-if="currentBot.lastTradeTimestamp">last trade at {{currentBot.ISOTimestampToLocalTima(currentBot.lastTradeTimestamp)}}</p>
                            </div>
                            <hr>
                            <div class="field">
                                <div class="button is-small is-warning" @click="currentBot.setPause(true)">pause</div>
                            </div>
                            <div class="field">
                                <div class="button is-small is-danger" v-if="this.isAdmin" @click.prevent="removeBot">fuckoff</div>
                            </div>
                            <div class="field">
                                <div class="button is-small is-light"  @click.prevent="closeMenu($refs.botInfoMenu)">done</div>
                            </div>
                        </div>
                    </vue-context>

                    <bot-chart v-if="currentBot.id > 0" ref="botChart"></bot-chart>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import firebase from '../services/firebase'
    import { mapGetters, mapActions } from 'vuex'
    import { VueContext } from 'vue-context'
    import botCard from './cards/botCard'
    import botChart from './botChart'
    import Bot from '../models/Bot'

    export default {
        name: "bots",
        components: {
            botCard,
            VueContext,
            botChart
        },
        data: () => ({
        }),
        computed: {
            ...mapGetters(['bots', 'currentBot', 'user', 'filters']),
            isAdmin() {
                return this.user.data.email.includes('rubysp') || this.user.data.email.includes('maxschnaider')
            }
        },
        watch: {
            async currentBot(bot) {
            },
        },
        methods: {
            ...mapActions(['bindFirebaseCurrentBot', 'unbindFirebaseCurrentBot']),
            handleRightClick(e) {
                this.closeMenu(this.$refs.botInfoMenu)
                this.openMenu(this.$refs.botsMenu, e)
            },
            handleDoubleClick(e) {
                this.openMenu(this.$refs.botInfoMenu, e)
            },
            closeMenu(menu) {
                menu.close()
            },
            openMenu(menu, e) {
                setTimeout(() => {
                    menu.open(e)
                }, 50)
            },
            async createBot() {
                const snapshot = await firebase.database().ref(`bots`).once('value')
                let newBot = new Bot()
                newBot.id = snapshot.val().length
                newBot.save()
                return this.bindFirebaseCurrentBot(newBot)
            },
            updateBot() {
                for (const account of this.accounts) {
                    if (account.username === (this.accountUsername || this.account2Username)) {
                        this.currentBot.setAccount(this.accountUsername, this.account2Username)
                        this.currentBot.setFriendsHourlyLimit(parseInt(this.friendsHourlyLimit))
                        this.currentBot.setMessagesHourlyLimit(parseInt(this.messagesHourlyLimit))
                        this.closeMenu(this.$refs.botInfoMenu)
                        return
                    }
                }
            },
            removeBot() {
                if (!this.isAdmin) return
                this.currentBot.remove()
                this.unbindFirebaseCurrentBot()
                this.closeMenu(this.$refs.botInfoMenu)
            }
        }
    }
</script>
