
<template>
    <main class="page-blocks">
        <div class="container">
            <div class="page-blocks__sides">
                <div class="page-blocks__lft">
                    <div class="main-title">
                        <h2>the most <span>profitable</span> filters</h2>
                        <h1>FIFA 22</h1>
                    </div>

                    <div class="dashboard-cards">
                        <filter-card v-for="filter in filters" :key="filter.id" :filter="filter"
                                  v-on:doubleClick="handleDoubleClickOnCard"
                                     v-on:rightClick="handleRightClick"/>
                    </div>

                    <vue-context ref="filtersMenu">
                        <!--<li><a href="#" v-if="currentFilter !== undefined"-->
                               <!--@click.prevent="openMenu($refs.filterInfoMenu, $event)">Фильтр {{currentFilter.id}}</a></li>-->
                        <li><a href="#" @click.prevent="createFilter">Create filter</a></li>
                    </vue-context>

                    <vue-context ref="filterInfoMenu"
                                 :closeOnClick="false">
                        <div class="form">
                            <div class="field id">fltr <span>{{currentFilter.id}}</span><br/></div>
                            <div class="field">
                                <p v-if="currentFilter.lastPricing">actualized at {{currentFilter.ISOTimestampToLocalTima(currentFilter.lastPricing).substr(0, 5)}}</p>
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="fltr name"
                                       v-model="currentFilter.name">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="player name"
                                       v-model="currentFilter.playerName">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="quality"
                                       v-model="currentFilter.quality">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="position"
                                       v-model="currentFilter.position">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="region"
                                       v-model="currentFilter.region">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="league"
                                       v-model="currentFilter.league">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="club"
                                       v-model="currentFilter.club">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="min buy now"
                                       v-model="currentFilter.minBuyNow">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="max buy now"
                                       v-model="currentFilter.maxBuyNow">
                            </div>
                            <div class="field">
                                <input class="input is-small is-rounded"
                                       type="text"
                                       placeholder="sell price"
                                       v-model="currentFilter.sellPrice">
                            </div>
                            <div class="field">
                                <p v-if="currentFilter.sellPrice !== ''">profit {{currentFilter.profit}}+</p>
                            </div>
                            <hr>
                            <div class="field">
                                <div class="button is-small is-warning" @click="createFilter(currentFilter.toJSON())">clone</div>
                            </div>
                            <div class="field">
                                <div class="button is-small is-danger" v-if="this.isAdmin" @click.prevent="removeFilter">fuckoff</div>
                            </div>
                            <div class="field">
                                <div class="button is-small is-light"  @click.prevent="closeMenu($refs.filterInfoMenu)">done</div>
                            </div>
                        </div>
                    </vue-context>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    import firebase from '../services/firebase'
    import filterCard from './cards/filterCard'
    import { mapGetters, mapActions } from 'vuex'
    import { VueContext } from 'vue-context'
    import Filter from '../models/Filter'

    export default {
        name: "filters",
        components: {
            filterCard,
            VueContext
        },
        data: () => ({
        }),
        computed: {
            ...mapGetters(['filters', 'user', 'currentFilter']),
            isAdmin() {
                return this.user.data.email.includes('rubysp') || this.user.data.email.includes('maxschnaider')
            }
        },
        watch: {
            currentFilter(state) {
                // console.log(state)
            }
        },
        methods: {
            ...mapActions(['bindFirebaseCurrentFilter', 'unbindFirebaseCurrentFilter']),
            handleRightClick(e) {
                this.closeMenu(this.$refs.filterInfoMenu)
                this.openMenu(this.$refs.filtersMenu, e)
            },
            handleDoubleClickOnCard(e) {
                this.openMenu(this.$refs.filterInfoMenu, e)
            },
            closeMenu(menu) {
                menu.close()
            },
            openMenu(menu, e) {
                setTimeout(() => {
                    menu.open(e)
                }, 50)
            },
            async createFilter(data) {
                const snapshot = await firebase.database().ref(`filters`).once('value')
                let newFilter = new Filter(data)
                newFilter.id = snapshot.val().length
                newFilter.save()
                this.closeMenu(this.$refs.filterInfoMenu)
            },
            removeFilter() {
                if (!this.isAdmin) return
                this.currentFilter.remove()
                this.closeMenu(this.$refs.filterInfoMenu)
            }
        }
    }
</script>
