
<template>
    <div id="navbar">
        <header id="header_top" class="header_top">
            <div class="header_wrapper">

                <div id="header_logo" class="header_logo">
                    <a class="logo" href="/">FIFA COINS</a>
                </div>

                <div class="header_lang header_box">
                    <a class="lang_link header_link triangle_after" href="#">{{tabName}}</a>
                    <ul class="header_lang_dropdown">
                        <router-link to="/bots">bots</router-link>
                        <router-link to="/filters">filters</router-link>
                        <router-link to="/analytics">analytics</router-link>
                        <router-link to="/orders">orders</router-link>
                        <router-link to="/users">users</router-link>
                    </ul>
                </div>

                <div id="header_nav" class="header_nav">
                    <nav class="nav scrollto">
                        <ul>
                            <li class="balance"><a href="#">£{{totalBalance.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")}} ≈ ${{totalBalanceUSD}}</a></li>
                            <li><a href="#">$5m til 31.07</a></li>
                            <li><a href="#">nahuy instu</a></li>
                            <li><a href="#">gou praciuvaty!</a></li>
                        </ul>
                    </nav>
                    <div class="box_mobile">
                        <div class="telegram_icon_wrapper">
                            <a href="https://t.me/+gkQV1AePeVE5MGU6" target="_blank" class="telegram_icon"></a>
                        </div>
                        <div class="header_login_wrapper">
                            <button id="popUpBtn2" class="header_login">{{user.data.email}}</button>
                        </div>
                    </div>
                </div>

                <a href="https://t.me/+gkQV1AePeVE5MGU6" target="_blank" class="telegram_icon"></a>

                <button id="popUpBtn1" class="header_login">{{user.data.email}}</button>

                <button class="btn_mobile">
                    <span></span>
                </button>
            </div>
        </header>
        <!--<router-link to="/">-->
            <!--<img id="icon" src="favicon.png">-->
        <!--</router-link>-->
        <!--<div class="navbar-profile">-->
            <!--<p>фармим, {{user.data.email}}</p>-->
        <!--</div>-->
    </div>
</template>

<script>
    import { mapGetters } from "vuex"

    export default {
        name: "navbar",
        data: () => ({
            totalBalance: 0,
        }),
        computed: {
            ...mapGetters(['user', 'bots']),
            tabName() {
                const path = this.$route.path.replace('/', '')
                return path == '' ? 'bots' : path
            },
            totalBalanceUSD() {
                return parseInt(this.totalBalance / 100000 * 14)
            }
        },
        watch: {
            bots(bots) {
                this.totalBalance = 0
                for (let bot of bots) {
                    this.totalBalance += bot.balance
                }
            }
        },
        methods: {
        }
    }
</script>
